.header--container
	height 86px
	padding 0
	margin 0 0 34px 0
	background $white
	border-bottom $white-border

.header
	width 1024px
	margin 0 auto

	&__brand
		width 300px
		padding 0
		margin 0 0 0 20px
		border-bottom none

	&__logo
		width 300px
		margin 0

	&__outline
		width 28px
		height 28px
		margin 16px 22px 0 30px

	&__white
		width 12px
		height 12px
		margin 8px 0 0 8px

	&__name
		float left
		width 220px

		h1
			width 220px
			margin 20px 0 12px 0
			font-size 19px
			line-height 19px

		h2
			width 220px
			margin 0
			font-size 18px
			line-height 18px

	nav
		float right
		height 52px
		margin 33px 0 0 0

	&__tile
		height 52px
		padding 0 34px
		margin 0
		border none
		border-top $white-border
		border-left $white-border
		border-bottom none

		h2
			font-size 18px
			line-height 56px

	&__tile.active
		height 53px
		background $background

	&__tile.end.active
		background $background
		border-right none

		h2
			color $paragraph
