.squares
	width 930px
	margin 0 0 0 52px
	border none

.square
	width 380px
	padding 34px 40px 38px 40px

	h3
		padding 0 0 12px 0
		margin 0 0 14px 0
		font-size 19px
		line-height 19px

	p
		width 376px
		margin 0
		font-size 18px
		line-height 33px

	.image
		width 172px
		height 205px
		margin 0 207px 38px 0

.square.plug
	border-right $white-border

.square.last
	width 380px