.testimonials
	width 921px
	margin 0 0 50px 52px
	border $white-border

.testimonial
	padding 34px 0 4px 0

	p
		width 720px
		margin 0 0 26px 60px
		font-size 20px
		line-height 37px

	h6
		width 660px
		margin 0 0 0 60px
		font-size 20px
		line-height 20px

.testimonial--image
	width 160px
	height 200px
	margin 0 48px 30px 50px