.view
	width 948px
	padding 0 0 42px 0
	margin 0 0 50px 40px

	.fa-long-arrow-left
		width 120px
		height 120px
		padding 0
		margin 0 60px 0 0
		font-size 33px
		line-height 104px
		border-right $input-border

	.row
		width 508px

	h3
		float left
		width 440px
		margin 38px 0 22px 0
		font-size 25px
		line-height 25px

	h4
		margin 0 5px 38px 0
		font-size 21px
		line-height 21px

	p
		width 687px
		margin 0 0 0 180px
		font-size 20px
		line-height 38px