.medias
	width 748px
	margin 10px 0 20px 20px

	.media
		width 317px
		padding 28px 20px 20px 20px
		margin 0 10px 16px 0

		h3
			margin 0 0 20px 20px
			font-size 22px
			line-height 30px

		h4
			padding 8px 14px 8px 14px
			margin 0 0 18px 20px
			font-size 14px
			line-height 14px

		p
			width 280px
			margin 0 5px 0 20px
			font-size 18px
			line-height 32px

		p.blue
			margin 0

		.image
			width 200px
			height 238px
			margin 28px 0 10px 10px