.search
	width 440px
	margin 0 0 28px 30px

	&__option
		width 220px
		margin 0

		select
			width 220px
			height 58px
			font-size 19px
			line-height 19px

	&__select
		width 218px
		height 56px

		p
			font-size 19px
			line-height 59px

		.caret
			margin 28px 0 0 12px
			border-top 6px solid #777
			border-right 6px solid transparent
			border-left 6px solid transparent

	&__select.last
		width 219px
		border-left none