.slider
	width 768px
	margin 0 0 28px 0

	.slick-slider
		width 768px
		border-radius 0

		img
			width 768px
			height 384px

		ul.slick-dots
			width 708px
			margin 14px 0 0 54px

			li
				width 122px
				height 61px
				margin 0 10px 10px 0

	.slick-slider.index
		margin 0

		ul.slick-dots
			width 154px
			padding 16px 0 0 0
			margin 0 0 0 314px

			li
				width 18px
				height 18px
				margin 0 8px