.view
	width 688px
	padding 0 0 32px 0
	margin 0 0 50px 40px

	.fa-long-arrow-left
		width 100px
		height 90px
		padding 0
		margin 0 40px 0 0
		font-size 31px
		line-height 83px
		border-right $input-border

	.row
		width 508px

	h3
		float left
		width 440px
		margin 28px 0 16px 0
		font-size 22px
		line-height 22px

	h4
		margin 0 5px 38px 0
		font-size 17px
		line-height 24px

	p
		width 608px
		margin 0 0 0 40px
		font-size 18px
		line-height 33px