.page
	.list
		.listing
			h3 See Gardens
			h4 May 2014
			p This elegant rooftop in Midtown, Toronto, is part of the Sander Freedman’s portfolio.
			.item
				img(src="../assets/img/media/see.jpg", alt="")
		.listing
			h3 Landscape ME
			h4 May 2014
			p Sander Design brings life back to the rooftop of Queens Quay in Toronto, Ontario.
			a.item(href="http://issuu.com/allanronald45/docs/landscape_magazine_april_2014_597632889f2631/21?e=7613768%2F7726436", target="_blank")
				img(src="../assets/img/media/me.jpg", alt="")
		.listing
			h3 See Gardens
			h4 May 2014
			p Using modern trends and appliances, this space brings a truly unique design to reality.
			.item
				img(src="../assets/img/media/see2.jpg", alt="")
		.listing
			h3 Canadian Builder
			h4 April 2012
			p A project that was designed to appeal to a variety of residents, while keeping with the building.
			.item
				img(src="../assets/img/media/cbq.jpg", alt="")

	.list
		.listing
			h3 Design Talks
			h4 March 2011
			p Sander Freedman led our very first Design Talk geared to beautifying outdoor spaces
			.item
				img(src="../assets/img/media/design_talks.jpg", alt="")

		.listing
			h3 Scotiabank EcoLiving
			h4 January 2011
			p Using modern trends and appliances, this space brings a truly unique design to reality.
			.item
				img(src="../assets/img/media/eco_living.jpg", alt="")

		.listing
			h3 Ben Nobleman Park
			h4 April 2010
			p Sander integrated our table into the beautiful urban forest booth of the Green Living Show.
			a.item(href="http://communityorchard.ca/2010/05/19/from-wharf-to-table/")
				img(src="../assets/img/media/ben_nobleman.jpg", alt="")

		.listing
			h3 HGTV Blog
			h4 August 2009
			p A lot can be achieved with a little amount of planning and getting some professional help.
			a.item(href="http://www.hgtv.ca/blog/backyard-makeover-tranquil-zen-garden/")
				img(src="../assets/img/media/hgtv.jpg", alt="")
	.list
		.listing
			h3 Green Living Show
			h4 2009
			p Today's makeover shows what can be achieved with a little planning and getting professional help.
			.item
				img(src="../assets/img/projects/show/green-living-show-2009/listing.jpg", alt="")

		.listing
			h3 Ideas and Concepts
			h4 2009
			p Today's makeover shows what can be achieved with a little planning and getting professional help.
			.item
				img(src="../assets/img/media/ideas.jpg", alt="")
		.listing
			h3 Home &amp; Decor
			h4 April 2008
			p Inspired by Zen and customized for an urban application, this backyard became a getaway.
			.item
				img(src="../assets/img/media/home_and_decor.jpg", alt="")

		a.listing(href="interior-design-show-2008/")
			h3 Interior Design Show
			h4 2008
			p Today's makeover shows what can be achieved with a little planning and getting professional help.
			.item
				img(src="../assets/img/projects/show/interior-design-show-2008/listing.jpg", alt="")

	.list
		a.listing(href="canada-blooms-2008/")
			h3 Canada Blooms
			h4 2008
			p Today's makeover shows what can be achieved with a little planning and getting professional help.
			.item
				img(src="../assets/img/projects/show/canada-blooms-2008/listing.jpg", alt="")

		a.listing(href="canada-blooms-2007/")
			h3 Canada Blooms
			h4 2007
			p Today's makeover shows what can be achieved with a little planning and getting professional help.
			.item
				img(src="../assets/img/projects/show/canada-blooms-2007/listing.jpg", alt="")