
<div class="container">
  <div class="search">
    <div class="search__option">
      <p>Category</p>
      <select ng-model="search.category" data-ng-options="category for category in categories | orderBy:&quot;toString()&quot;"></select>
    </div>
    <div class="search__option">
      <p>Sub-Category</p>
      <select ng-model="search.status" data-ng-options="state for state in statuses | orderBy:&quot;toString()&quot;"></select>
    </div>
  </div>
  <div class="side"><a href="#" class="selected line">RESIDENTIAL</a><a href="commercial/" class="commercial">COMMERCIAL</a></div>
  <div class="list"><a href="residential/contemporary-yard/">
      <div class="listing first">
        <h3>Contemporary Yard</h3>
        <h4>Etobicoke - <span>Toronto</span></h4>
        <div class="item"><img src="../assets/img/projects/residential/contemporary-yard/listing.jpg" alt=""/></div>
      </div></a></div>
</div>