.footer
	height 276px

	&__holder
		width 100%

		h1
			width 100%
			margin 36px 0 14px 0
			font-size 18px
			line-height 18px

		p
			margin 0 0 22px 0
			font-size 18px
			line-height 18px

		a
			padding 0 0 3px 0
			margin 0 0 12px 0
			font-size 16px
			line-height 30px

	&__company
		width 260px
		padding 0 40px 0 40px

	&__cv
		width 278px
		margin 0 0 32px 20px

		p
			width 278px
			margin 0
			font-size 16px
			line-height 30px

	&__social
		width 280px
		margin 0 0 0 20px

		.fa-facebook
		.fa-linkedin
		.fa-houzz
			width 54px
			height 50px
			margin 0 18px 0 0
			font-size 29px
			line-height 54px

		.fa-facebook
			font-size 27px
			line-height 56px