.listings
	width 647px
	margin 0 0 30px 20px

.listing
	width 306px
	padding 0 0 12px 0
	margin 0 11px 16px 0

	h3
		margin 10px 0 8px 24px
		font-size 17px
		line-height 23px

	p
		margin 0 5px 0 24px
		font-size 15px
		line-height 21px

	p.blue
		margin 0

	&__tags
		width 286px
		margin 28px 0 0 20px

	&__tag
		padding 6px 12px 8px 12px
		margin 0 7px 8px 0

		h4
			font-size 11px
			line-height 11px

	.fa-long-arrow-left
		height 23px
		padding 0px 14px
		margin 24px 80px 10px 100px
		font-size 16px
		line-height 23px

	.image
		width 306px
		height 154px
		margin 0 0 6px 0