.search
	width 440px
	margin 0 0 20px 113px

	&__option
		width 220px
		margin 0

		select
			width 220px
			height 54px
			font-size 20px
			line-height 20px

	&__select
		width 218px
		height 54px

		p
			font-size 20px
			line-height 56px

		.caret
			margin 27px 0 0 12px
			border-top 6px solid #777
			border-right 6px solid transparent
			border-left 6px solid transparent

	&__select.last
		width 219px
		border-left none