.search
	width 440px
	height 52px
	margin 12px 0 20px 112px

	&__option
		width 220px
		margin 0

		select
			width 220px
			height 52px
			font-size 19px
			line-height 19px

		.select
			width 218px
			height 52px

			p
				font-size 19px
				line-height 54px

			.caret
				margin 25px 0 0 12px
				border-top 6px solid #777
				border-right 6px solid transparent
				border-left 6px solid transparent

		.select.last
			width 219px
			border-left none