.squares
	margin 0 0 20px 0

.square
	padding 32px 0 34px 0

	h3
		font-size 19px
		line-height 19px
		padding 0 0 10px 0
		margin 0 0 15px 60px

	p
		width 520px
		margin 0 0 0 60px
		font-size 18px
		line-height 32px

	.image
		width 172px
		height 205px
		margin 0 40px 0 50px