.testimonial
	padding 28px 0 38px 0

	p
		width 550px
		margin 8px 0 12px 60px
		font-size 18px
		line-height 32px

	h6
		width 520px
		margin 24px 0 0 60px
		font-size 19px
		line-height 19px

.testimonial--image
	width 256px
	height 154px
	margin 0 25px 0 60px