{
	title: "sanderdesign.ca"
	paths: [
		"/Users/jj/Development/sanderdesign.ca"
	]
	devMode: true
	settings: {
		core:
			ignoredNames: [
				".git"
				".hg"
				".svn"
				".DS_Store"
				"._*"
				"Thumbs.db"
				"_notes"
				".openshift"
				"node_modules"
				"a1"
				"auto-client"
				"auto-data"
				"public/css"
				"public/font"
				"public/html"
				"public/img"
				"public/vendor"
				"public/template"
			]
	}
}