.testimonials
	width 766px
	margin 0 0 40px 0
	border-left $white-border

.testimonial
	padding 28px 0 38px 0
	border-right $white-border

	p
		width 708px
		margin 0 0 10px 30px
		font-size 18px
		line-height 33px

	h6
		width 560px
		margin 28px 0 0 308px
		font-size 19px
		line-height 19px

.testimonial--image
	width 248px
	height 122px
	margin 0 28px 50px 30px
