footer
	.footer
		.footer__holder
			.footer__company
				h1.tk-usual SANDER DESIGN
				h2.tk-usual Landscape Architecture
				a.tk-usual(href="https://www.google.ca/maps/place/499+Jones+Ave,+Toronto,+ON+M4J+3G8/@43.677066,-79.3409998,17z/data=!4m13!1m7!3m6!1s0x89d4cc8117f62871:0xfe1395e8868c6d35!2s499+Jones+Ave,+Toronto,+ON+M4J+3G8!3b1!8m2!3d43.677066!4d-79.3388111!3m4!1s0x89d4cc8117f62871:0xfe1395e8868c6d35!8m2!3d43.677066!4d-79.3388111") 499 Jones Avenue, Toronto, Ontario, Canada

				a.tk-usual(href="mailto:hello@sanderdesign.ca?subject=Online%20Contact%20Card") hello@sanderdesign.ca
					a.tk-usual(href="tel:+1-416-597-1703") 416 597-1703

			.footer__about
				.footer__cv
					h1.tk-usual ABOUT
					p.tk-usual Sander Freedman graduated in Landscape Architecture with an honours degree in 1987 at the University of Guelph.

				.footer__social
					a.fa.fa-houzz(href="http://www.houzz.com/pro/sanderdesign/sander-design-landscape-architecture", target="_blank")
					a.fa.fa-facebook(href="https://www.facebook.com/pages/Sander-Design-Landscape-Architecture/353798814642180", target="_blank")
					a.fa.fa-linkedin(href="http://ca.linkedin.com/pub/sander-freedman/11/677/27a", target="_blank")

			.footer__map
				ng-map(center='{{self.map.location}}' zoom='{{self.map.zoom}}')
					marker(position='{{self.map.location}}')