.contact
	float left
	width 280px
	padding 28px 20px 34px 20px
	margin 0 0 30px 0
	border-top $white-border
	border-bottom $white-border
	background $white

	h1
		width 260px
		padding 0
		margin 0 0 22px 0
		font-weight 400
		font-size 23px
		line-height 36px
		text-align left

	span
		float left
		width 260px
		padding 0
		margin 10px 0 34px 10px
		font-style italic
		color $black
		font-weight 400
		font-size 20px
		line-height 35px
		text-align left

	p
		width 270px
		margin 0 0 18px 0
		font-weight 400
		font-size 18px
		line-height 32px
		color $paragraph

	p.desktop
		display: none

	.profile
		display none