header
	position relative
	width 100%
	padding 0
	margin 0
	border none
	z-index 99

.header--container
	float left
	width 100%
	padding 0 0 16px 0
	margin 0 0 12px 0
	background $white
	border-bottom $white-border

.header
	position relative
	width 100%
	margin 0 auto

	&__brand
		float left
		width 100%
		padding 0
		margin 0
		background $white

	&__logo
		position relative
		width 300px
		margin 0 auto

	&__outline
		float left
		width 22px
		height 22px
		padding 0
		margin 11px 16px 0 10px
		background $green
		border-radius 10px 0 10px 0

	&__white
		float left
		width 8px
		height 8px
		background $white
		margin 7px 0 0 7px

	&__name
		float left
		width 200px
		padding 0
		margin 0

		h1
			float left
			width 100%
			padding 0
			margin 14px 0 10px 0
			font-weight 400
			font-size 17px
			line-height 17px
			color $black
			border none
			text-align left

		h2
			float left
			width 100%
			padding 0
			margin 0
			font-weight 400
			font-size 17px
			line-height 17px
			color $paragraph
			border none

	&__mobile
		float right
		width 26px
		padding 0
		margin 14px 5px 0 0
		outline none
		cursor pointer

		.bar
			float right
			width 26px
			height 2px
			padding 0
			margin 0 0 5px 0
			background: #333
			cursor pointer
			outline none
			text-align center

		.b
			width 22px

		.c
			width 18px

	nav
		display none