.testimonials
	float left
	width 100%
	margin 0 0 20px 0
	background $white
	border-top $white-border
	border-bottom $white-border

.testimonial
	float left
	width 320px
	padding 28px 0 38px 0
	margin 0
	border-bottom $white-border

	p
		width 270px
		margin 0 0 12px 20px
		font-weight 400
		font-size 16px
		line-height 29px
		color $paragraph
		text-align left

	p.desktop
		display none

	h6
		margin 24px 0 0 20px
		width 280px
		font-weight 400
		font-size 16px
		line-height 16px
		color $black

.testimonial--image
	float left
	width 80px
	height 120px
	margin 0 28px 6px 20px
	background $background
	border $white-border

.testimonial.end
	border-bottom none
