.view
	float left
	width 320px
	padding 0 0 24px 0
	margin 0 0 30px 0
	background $white
	border-top $input-border
	border-bottom $input-border
	border-radius none
	cursor pointer

	.fa-long-arrow-left
		float left
		width 290px
		padding 4px 30px 4px 0
		margin 0
		font-size 27px
		line-height 27px
		color $paragraph
		background $green-light
		border-bottom $input-border
		border-radius none
		text-align right
		text-decoration none

	.row
		float left
		width 100%

	h3
		float left
		width 280px
		margin 28px 0 16px 20px
		font-weight 400
		font-size 21px
		line-height 21px
		color $black

	h4
		float left
		margin 0 5px 22px 20px
		font-weight 400
		font-size 16px
		line-height 23px
		color $paragraph

	h4.blue
		color #97A018
		margin 0

	p
		float left
		width 280px
		margin 0 0 0 20px
		font-weight 400
		font-size 16px
		line-height 30px
		color $paragraph