.contact
	width 882px
	padding 38px 60px 34px 60px
	margin 0 0 40px 0

	h1
		width 642px
		margin 12px 0 18px 0
		font-weight 400
		font-size 27px
		line-height 43px

	span
		width 602px
		font-weight 400
		margin 6px 170px 22px 30px
		font-size 22px
		line-height 38px

	p
		width 822px
		margin 0 0 14px 0
		font-weight 400
		font-size 18px
		line-height 32px

	.profile
		width 180px
		height 220px
		margin 0 40px 10px 0