.contact
	width 842px
	padding 38px 80px 34px 80px
	margin 0 0 30px 0

	h1
		width 742px
		margin 0 0 22px 0
		font-weight 400
		font-size 33px
		line-height 47px

	span
		width 652px
		margin 6px 150px 24px 40px
		font-size 28px
		line-height 40px

	p
		width 822px
		margin 0 0 18px 0
		font-weight 400
		font-size 22px
		line-height 32px

	.profile
		width 180px
		height 220px
		margin 0 40px 18px 0