.contact
	width 882px
	padding 34px 60px 28px 60px
	margin 0 0 40px 0

	h1
		width 882px
		margin 0 0 22px 0
		font-size 23px
		line-height 23px

	span
		width 512px
		font-weight 400
		margin 6px 280px 22px 50px
		font-size 19px
		line-height 34px

	p
		width 862px
		margin 0 0 14px 0
		font-size 16px
		line-height 29px

	.profile
		width 160px
		height 200px
		margin 0 40px 10px 0