.footer
	padding 28px 0 28px 0

	&__holder
		width 924px

		h1
			width 280px
			margin 0 0 12px 0
			font-size 18px
			line-height 18px

		h2
			margin 0 0 15px 0
			font-size 16px
			line-height 16px

		a
			margin 0 0 4px 0
			font-size 15px
			line-height 28px

		p
			width 220px
			font-size 15px
			line-height 28px

	&__company
		width 230px
		padding 0 30px 0 0

	&__link
		width 230px
		padding 0px 0 0 0

	&__cv
		width 220px
		padding 0 80px 24px 30px

	&__social
		width 220px
		margin 34px 0 0 0

		.fa-facebook
		.fa-linkedin
		.fa-houzz
			width 42px
			height 42px
			margin 0 12px 0 0
			font-size 27px
			line-height 43px

		.fa-facebook
			font-size 26px
			line-height 46px