.footer
	padding 32px 0 0 0

	&__holder
		width 984px

		h1
			width 280px
			margin 0 0 14px 0
			font-size 18px
			line-height 18px

		p
			margin 6px 0 8px 0
			font-size 18px
			line-height 18px

		a
			padding 0
			margin 0 0 4px 0
			font-size 16px
			line-height 31px

	&__company
		width 200px
		padding 0 90px 0 0

	&__link
		width 230px
		padding 12px 0 0 0

		a
			padding 0 0 4px 0
			margin 0 0 8px 0
			font-size 18px
			line-height 26px

	&__about
		width 380px
		padding 0 10px 0 0
		margin 0

	&__cv
		width 380px
		padding 0 0 32px 0

		p
			width 310px
			margin 0
			font-size 16px
			line-height 31px

	&__social
		width 220px
		margin 0

		.fa-facebook
		.fa-linkedin
		.fa-houzz
			width 52px
			height 48px
			margin 0 14px 0 0
			font-size 31px
			line-height 51px

		.fa-facebook
			font-size 29px
			line-height 53px

	&__map
		width 298px
		height 240px