footer
    width 100%

    .footer
        float: left
        width 100%
        padding: 28px 0 20px 0

        .holder
            position: relative
            width 940px
            padding: 0
            margin 0 auto

            h3
                width: 100%
                margin: 0 0 12px 0
                font-size: 14px
                line-height: 14px

                span
                    margin 0 0 0 8px

            h3.title
                width 320px
                margin 0 0 12px 0

            a
                margin 0 0 0 0
                font-size 13px
                line-height 22px

            p
                width: 220px
                font-size: 13px
                line-height: 22px

            .company
                width 200px
                padding 0 180px 0 0

                .link
                    width 200px
                    padding 0 50px 0 0

            .cv
                width: 250px
                padding: 0

            .social
                width: 130px
                margin 0 0 0 40px

                .fa-facebook
                .fa-linkedin
                .fa-houzz
                    width: 25px
                    height: 25px
                    margin: 0 18px 0 0
                    font-size 25px
                    line-height 25px
