.header-tag
    display block
    position: absolute
    width 800px
    height: 42px
    border-bottom $border-light
    background $white
    z-index 1

header
    position relative
    width 1144px
    height 40px
    border none
    margin 0 auto
    z-index 2

    nav ul
        width 1084px
        margin 0 0 0 60px

        li
            height 42px
            padding 0 32px

            a
                width 100%

                h2
                    font-size 12px
                    line-height 44px

        li.title
            width 369px

            .logo
                margin 13px 16px 0 0

            a
                width 314px
                font-size 14px
                line-height 44px

                span
                    font-size 14px
                    margin 0 0 0 4px
