.header--container
	height 48px
	padding 0
	margin 0 0 24px 0
	background $white
	border-bottom $white-border

.header
	width 1000px
	height 48px
	margin 0 auto

	&__brand
		width 420px
		padding 0
		margin 0
		height 48px
		background none
		border-bottom none

	&__logo
		width 420px
		margin 0

	&__outline
		width 24px
		height 24px
		margin 12px 18px 0 0

	&__white
		width 8px
		height 8px
		margin 8px 0 0 8px

	&__name
		width 374px

		h1
			width 156px
			margin 17px 0 0 0
			font-size 17px
			line-height 17px

		h2
			width 200px
			margin 17px 0 0 0
			font-size 17px
			line-height 17px

	nav
		border-right $dotted
		padding 0
		margin 0

	&__tile
		height 48px
		padding 0 28px
		margin 0
		border none
		border-left $dotted

		h2
			font-size 16px
			line-height 52px

	&__tile.active
		height 49px
		background $background
		border-bottom none