.header--container
	height 44px
	padding 0
	margin 0 0 24px 0
	background $white
	border-bottom $white-border

.header
	width 960px
	height 44px
	margin 0 auto

	&__brand
		width 380px
		padding 0
		margin 0
		height 40px
		background none
		border-bottom none

	&__logo
		width 380px
		margin 0

	&__outline
		width 22px
		height 22px
		margin 11px 18px 0 0

	&__white
		width 8px
		height 8px
		margin 7px 0 0 7px

	&__name
		width 324px

		h1
			width 138px
			margin 15px 0 0 0
			font-size 15px
			line-height 15px

		h2
			width 180px
			margin 15px 0 0 0
			font-size 15px
			line-height 15px

	nav
		border-right $dotted
		padding 0
		margin 0

	&__tile
		height 44px
		padding 0 28px
		margin 0
		border none
		border-left $dotted

		h2
			font-size 14px
			line-height 47px

	&__tile.active
		height 45px
		background $background
		border-bottom none