.listings--holder
	padding 24px 0 10px 0

.listings
	width 1034px
	padding 0
	margin 0 auto 30px auto

	.listing
		width 232px
		padding 0 0 12px 0
		margin 0 5px 14px 5px
		background $white

		h3
			margin 0 0 3px 14px
			font-size 14px
			line-height 20px
			color $black

		p
			margin 0 5px 0 14px
			font-size 12px
			line-height 19px

		p.blue
			margin 0

		.image
			width 232px
			height 117px
			margin 0 0 10px 0
			border none
			border-bottom $input-border
			border-radius 0

	.listing.end
		border-bottom none

	.listing.full
		width 100%

		h3
			width 400px
			margin 0 0 0 10px
			font-size: 25px
			line-height:25px

		h4
			width 400px
			margin 18px 0 26px 10px
			font-size: 17px
			line-height 17px

		p
			width 600px
			margin 0 120px 0 10px
			font-size: 16px
			line-height: 25px
