.medias
	width 1048px
	margin 0 0 30px 0

	.media
		width 290px
		padding 22px 20px 16px 20px
		margin 0 14px 14px 0

		h3
			font-size 22px
			line-height 29px
			margin 0 0 18px 10px

		h4
			padding 7px 14px 9px 14px
			margin 0 0 18px 10px
			font-size 15px
			line-height 15px

		p
			width 270px
			margin 0 5px 0 10px
			font-size 19px
			line-height 28px

		p.blue
			margin 0

		.image
			width 200px
			height 238px
			margin 24px 0 0 10px