.slider-dots-holder
    margin 4px 0 0 0

    ul.slick-dots
        width: 980px
        margin 0 0 0 32px

        li
            width: 148px
            height: 75px
            margin: 0 12px 12px 0

        li button:before
            width 148px
            height 75px
