.search--holder
	height 57px
	margin 0

.search
	width 894px
	height 46px
	padding 0
	margin 10px auto

	&__option
		width 160px
		margin 0

		select
			width 160px
			height 46px
			font-size 17px
			line-height 17px

		.select-mask
			width 159px
			height 46px
			margin 0

			p
				font-size 17px
				line-height 47px

	&__input
		width 271px
		margin 0 14px 0 0

		input
			width 269px
			height 38px
			font-size 17px

	&__reset
		width 28px
		height 26px
		margin 0

		.fa-times
			width 26px
			height 25px
			font-size 13px
			line-height 24px