.search
	width 694px
	padding 16px 0 14px 30px
	margin 0 0 16px 150px

	h6
		margin 0 0 11px 0
		font-size 14px
		line-height 14px

	&__option
		width 138px
		margin 0 20px 0 0

		select
			width 138px
			height 40px
			font-size 20px
			line-height 20px

		.select-mask
			width 136px
			height 40px
			margin 25px 0 0 0

			p
				font-size 20px
				line-height 40px

	&__input
		width 271px
		margin 0 20px 0 0

		input
			width 269px
			height 40px
			font-size 20px

	&__reset
		width 62px
		height 40px
		margin 0

		.fa-times
			width 60px
			height 39px
			font-size 18px
			line-height 40px