.search--holder
	height 45px
	margin 0

.search
	width 854px
	height 44px
	padding 0
	margin 0 auto

	&__option
		width 160px
		margin 0

		select
			width 160px
			height 44px
			font-size 17px
			line-height 17px

		.select-mask
			width 159px
			height 44px
			margin 0

			p
				font-size 17px
				line-height 46px

			.caret
				margin 21px 0 0 10px !important
				border-top 3px solid #777
				border-right 3px solid transparent
				border-left 3px solid transparent