.slider
	width 1000px
	margin 0 0 24px 12px

	.slick-slider
		width 1000px

		img
			width 1000px
			height 504px

		ul.slick-dots
			width: 788px
			margin 0 0 10px 85px

			li
				width: 184px
				height: 92px
				margin: 0 12px 0 0

				img
					width: 182px
					height: 90px

				span
					display none

	.slick-slider.index
		margin 0 0 4px 0

		ul.slick-dots
			width 136px
			padding 14px 0 0 0
			margin 0 0 0 442px

			li
				width 18px
				height 18px
				margin 0 8px