.slider
	width 1024px
	margin 0 0 14px 0

	.slick-slider
		width 1024px

		img
			width 1022px
			height 511px

		ul.slick-dots
			width: 788px
			margin 0 0 10px 85px

			li
				width: 184px
				height: 92px
				margin: 0 12px 0 0

				img
					width: 182px
					height: 90px

				span
					display none

	.slick-slider.index
		margin 0

		ul.slick-dots
			width: 136px
			padding 8px 0 0 449px

			li
				width: 32px
				height: 32px

				span
					width 32px
					height 32px
					font-size 69px
					line-height 24px