.testimonials
	width 1024px
	margin 0 0 30px 0

.testimonial
	width 431px
	padding 28px 40px 38px 40px
	margin 0
	border none

	p
		width 100%
		margin 0 0 22px 0
		font-size 16px
		line-height 27px

	h6
		width 460px
		margin 0
		font-size 16px
		line-height 16px

.testimonial--image
	width 100px
	height 120px
	margin 4px 22px 8px 0

.testimonial.end
	width 429px
	border-left 1px dotted #ccc
