.write
    width: 1024px
    margin 0

    .square
        width: 195px
        padding: 28px 30px 32px 30px

        h1
            width 820px
            font-size 25px
            line-height: 35px
            margin: 0 0 16px 0

        h3
            font-size 15px
            line-height: 15px
            padding: 0 0 8px 0
            margin 0 20px 12px 0

        h6
            width 510px
            margin: 8px 400px 28px 40px
            font-size 20px
            line-height: 29px

        p
            width: 170px
            font-size: 14px
            line-height: 23px

        p.full
            width 940px
            margin 0 0 14px 0
            font-size: 16px
            line-height 26px

        p.large
            display block
            width 940px
            margin 0 0 14px 0
            font-size: 16px
            line-height 26px

        img
            width: 200px
            height: 238px
            margin: 0 60px 34px 0

        #map
            width: 960px
            height: 280px
            margin: 30px 0 0 0

    .square.plug
        border-right 1px dotted #ccc

.testimonials
    width 1024px
    margin 0

    .testimonial
        width 431px
        height 310px
        padding: 30px 40px 0 40px
        margin 0

        p
            width 100%
            margin 0 0 24px 0
            font-size: 15px
            line-height: 25px

        h6
            width 460px
            margin 0
            font-size: 15px
            line-height: 15px

    .testimonial-image
        width: 100px
        height: 120px
        margin: 4px 22px 8px 0

    .testimonial.line
        border-right 1px dotted #ccc
