doctype
html(lang='en')
	head
		title Canada Blooms 2007 - Media - Sander Design Landscape Architecture
		meta(charset="utf-8")
		meta(name="author", content="Sander Design - Landscape Architecture")
		meta(name="description" content="The challenge in this project was to tie the lower driveway into the upper hill in an attractive way, while giving the front door a sense of entry.")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1")
		link(rel="icon" href="../../favicon.ico" type="image/x-icon")
		link(rel="shortcut icon" href="../../favicon.ico" type="image/x-icon")
		link(type="text/css" href="../../assets/css/style.css" rel="stylesheet" media="screen")

	body
		.header-tag
		header
			.header
				nav
					ul
						li.title
							.logo
							a.selected(href="../../") SANDER DESIGN <span>Landscape Architecture</span>
						li
							a(href="../../projects/")
								h2 PROJECTS
						li
							a(href="../../services/")
								h2 SERVICES
						li
							a(href="../../awards/")
								h2 AWARDS
						li.active
							a(href="../../media/")
								h2 MEDIA
						li
							a(href="../../about/")
								h2 ABOUT
						li
							a(href="../../contact/")
								h2 CONTACT
		.page
			.preview
				.product
					div
						img(src="../../assets/img/projects/show/green-living-show-2009/1.jpg" alt="")
					div
						img(src="../../assets/img/projects/show/green-living-show-2009/2.jpg" alt="")
					div
						img(src="../../assets/img/projects/show/green-living-show-2009/3.jpg" alt="")
					div
						img(src="../../assets/img/projects/show/green-living-show-2009/4.jpg" alt="")

			.list
				.listing.full
					h3 Canada Blooms
					h4 2007
					a.fa.fa-long-arrow-left(href="../")

		footer
			.footer
				.holder
					.company
						h3.title SANDER DESIGN<span>Landscape Architecture</span>
						a(href="https://maps.google.com/maps?q=401+Richmond+Street+West,+Toronto,+ON,+Canada&hl=en&amp;sll=37.0625,-95.677068&amp;sspn=82.350741,125.332031&amp;oq=401+Richmond+&amp;hnear=401+Richmond+St+W,+Toronto,+Ontario+M5V+3A8,+Canada&amp;t=m&amp;z=17") 353-401 Richmond Street W, Toronto, Ontario, Canada

						.link
							a(href="mailto:hello@sanderdesign.ca?subject=Online%20Contact%20Card") hello@sanderdesign.ca
							a(href="tel:+1-416-597-1703") 416 597-1703
					.cv
						h3 ABOUT
						p Sander Freedman graduated in Landscape Architecture with an honours degree in 1987 at the University of Guelph.
					.social
						a.fa.fa-houzz(href="http://www.houzz.com/pro/sanderdesign/sander-design-landscape-architecture" target="_blank")
						a.fa.fa-facebook(href="https://www.facebook.com/pages/Sander-Design-Landscape-Architecture/353798814642180" target="_blank")
						a.fa.fa-linkedin(href="http://ca.linkedin.com/pub/sander-freedman/11/677/27a" target="_blank")


		script(src="//code.jquery.com/jquery-1.11.0.min.js")
		script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
		script(src="../../assets/js/slick.js")
		script.
			$(document).ready(function(){
				$('.product').slick({});
			});
		script.
			var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-34471419-1']);_gaq.push(['_trackPageview']);(function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();
