doctype
html(lang='en')
	head
		title Services - Sander Design Landscape Architecture
		meta(charset="utf-8")
		meta(name="author", content="Sander Design - Landscape Architecture")
		meta(name="description", content="Sander Freedman is interested in sustainable design and environmental issues, and has over 21 years experience in environmental related work and design.")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1")
		
		
		link(type="text/css", href="../assets/css/index.css", rel="stylesheet", media="screen" )

	body
		.header-tag
		header
			nav
				ul
					li.title
						.logo
						a.brand.selected(href="../") SANDER DESIGN <span>Landscape Architecture</span>
					li
						a(href="../projects/")
							h2 PROJECTS
					li.active
						a(href="#")
							h2 SERVICES
					li
						a(href="../awards/")
							h2 AWARDS
					li
						a(href="../media/")
							h2 MEDIA
					li
						a(href="../about/")
							h2 ABOUT
					li
						a(href="../contact/")
							h2 CONTACT

		.page
			.write
				.square.line
					.service
						img(src="../assets/img/services/320/consultation.jpg", alt="")
					h3 CONSULTATION
					p Providing a completely new look and functionality to your outdoor space and project or to simply to help you evolve your design.

				.square.plug
					.service
						img(src="../assets/img/services/320/analysis.jpg", alt="")
					h3 SITE ANALYSIS
					p Complete review of existing site conditions and opportunities. Including topography, climate, planting and architecture.

				.square.line
					.service
						img(src="../assets/img/services/320/design.jpg", alt="")
					h3 LANDSCAPE DESIGN
					p We return with a proposal that integrates project ideas and possibilities. Here we bring your project concept to reality.

				.square
					.service
						img(src="../assets/img/services/320/inspection.jpg", alt="")
					h3 TENDER &amp; INSPECTION
					p Detail, custom fabrication and approval drawings, tender package and site inspection. Sourcing materials and supplies.

			.write
				.square.end
					p.full Sander Design offers design solutions for gardens of all styles and sizes, from relaxed country to sophisticated urban; from estate to pocket garden, we will meet the clients’ needs. Sander Design works with a variety of artists and other craftsperson's to create original and unique environments for a broad clientele.
					p.full Each Sander Design project is as unique and individual as our clients. In order to create their personal haven, we establish a close interaction with our clientele. Consultations for design inspiration help us to envision the project through our client’s eyes which allows us to meet their needs.
					p.large We emphasize on the design of outdoor environments or any environments that are nature inspired. Our area of expertise ranges from residential yards and court yards, urban garden and town houses to terraces, roof top gardens, balconies and interior garden rooms. Zen and meditation gardens, sacred spaces and healing gardens are our distinctive niche. Nevertheless our repertoire includes many other styles be it country estates and cottage gardens; condominium courtyard gardens and temporary garden installations for special events from heritage and urban cottage gardens to contemporary design as well as Asian inspired gardens, formal or informal, organic or geometric.


				.push

		footer
			.footer
				.holder
					.company
						h3.title SANDER DESIGN<span>Landscape Architecture</span>
						a(href="https://maps.google.com/maps?q=401+Richmond+Street+West,+Toronto,+ON,+Canada&hl=en&amp;sll=37.0625,-95.677068&amp;sspn=82.350741,125.332031&amp;oq=401+Richmond+&amp;hnear=401+Richmond+St+W,+Toronto,+Ontario+M5V+3A8,+Canada&amp;t=m&amp;z=17") 353-401 Richmond Street W, Toronto, Ontario, Canada

						.link
							a(href="mailto:hello@sanderdesign.ca?subject=Online%20Contact%20Card") hello@sanderdesign.ca
							a(href="tel:+1-416-597-1703") 416 597-1703

					.cv
						h3 ABOUT
						p Sander Freedman graduated in Landscape Architecture with an honours degree in 1987 at the University of Guelph.
					.social
						a.fa.fa-houzz(href="http://www.houzz.com/pro/sanderdesign/sander-design-landscape-architecture" target="_blank")
						a.fa.fa-facebook(href="https://www.facebook.com/pages/Sander-Design-Landscape-Architecture/353798814642180" target="_blank")
						a.fa.fa-linkedin(href="http://ca.linkedin.com/pub/sander-freedman/11/677/27a" target="_blank")

		script.
			var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-34471419-1']);_gaq.push(['_trackPageview']);(function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();
