.container
	.squares
		.square.line
			.image
				img(src='/public/img/services/consultation.jpg', alt='')
			.row
				h3.tk-usual CONSULTATION
			p.tk-usual Providing fresh and insightful ideas to help you visualize your dream landscape, or to improve your existing environment.

		.square.plug
			.image
				img(src='/public/img/services/analysis.jpg', alt='')
			.row
				h3.tk-usual SITE ANALYSIS
			p.tk-usual Complete review of site conditions and opportunities. Including topography, climate, planting and architecture.

		.square.line
			.image
				img(src='/public/img/services/design.jpg', alt='')
			.row
				h3.tk-usual LANDSCAPE DESIGN
			p.tk-usual We return with a proposal that integrates project ideas and possibilities. Here we bring your project concept to reality.

		.square.plug.last
			.image
				img(src='/public/img/services/inspection.jpg', alt='')
			.row
				h3.tk-usual TENDER &amp; INSPECTION
			p.tk-usual Detail, custom fabrication and approval drawings, tender package, sourcing materials and site supervision.

	.testimonials
		.testimonial.line
			img.testimonial--image(src='/public/img/testimonial/320/testimonialB.jpg' alt='')
			p.tk-usual Sander, you have transformed my rear yard in to an urban oasis; complete with a  water feature. It has become such a terrific space. I regularly receive comments such as “this looks like a magazine photo".
			//- p.desktop #\ My front yard is receiving similar positive feedback from passing pedestrians and neighbours; the comments are particularly focused on the unique, modern appearance. Well done Sander, thank you!
			h6.tk-usual W. Nichols - Toronto, Ontario

		.testimonial.end
			img.testimonial--image(src='/public/img/testimonial/320/testimonialA.jpg' alt='')
			p.tk-usual I would highly recommend Sander Design. They listened, were responsive to my needs and did not try to sell me stuff I did not want.
			//- p.desktop #\ In terms of the project, they are the only team I have worked with in a very long time that delivered as promised on time and budget.
			h6.tk-usual L. Proteau - Toronto, Ontario