.footer
	height 228px
	padding 0

	&__holder
		width 944px
		margin 0 auto

		h1
			width 280px
			margin 28px 0 14px 0
			font-size 14px
			line-height 14px

		h2
			margin 0 0 14px 0
			font-size 13px
			line-height 13px

		a
			padding 0
			margin 0 0 8px 0
			font-size 13px
			line-height 27px

	&__company
		width 210px
		padding 0 60px 0 0

	&__about
		width 310px
		padding 0 10px 0 0
		margin 0

	&__cv
		width 320px
		padding 0 0 22px 0

		p
			width 284px
			margin 0
			font-size 13px
			line-height 27px

	&__social
		width 220px
		margin 0

		.fa-facebook
		.fa-linkedin
		.fa-houzz
			width 44px
			height 42px
			margin 0 14px 0 0
			font-size 22px
			line-height 45px

		.fa-facebook
			font-size 20px
			line-height 45px

		.fa-linkedin
			font-size 21px
			line-height 45px

	&__map
		width 352px
		height 200px
		padding 0
		margin 28px 0 0 0