.listings
	width 1044px
	padding 0
	margin 0 auto 30px auto

.listing
	width 232px
	padding 0 0 10px 0
	margin 0 0 16px 10px
	background $white

	h3
		margin 0 0 4px 14px
		font-size 14px
		line-height 20px
		color $black

	p
		margin 0 5px 0 14px
		font-size 12px
		line-height 19px

	p.blue
		margin 0

	&__tags
		width 218px
		margin 22px 0 0 10px

	&__tag
		padding 6px 8px 8px 8px
		margin 0 6px 6px 0

		h4
			font-size 10px
			line-height 10px

	.image
		width 232px
		height 117px
		margin 0 0 12px 0
		border none
		border-bottom $input-border
		border-radius 0

.listing.end
	border-bottom none

.listing.full
	width 100%

	h3
		width 400px
		margin 0 0 0 10px
		font-size: 25px
		line-height:25px

	h4
		width 400px
		margin 18px 0 26px 10px
		font-size: 17px
		line-height 17px

	p
		width 600px
		margin 0 120px 0 10px
		font-size: 16px
		line-height: 25px
