.squares
	width 1044px
	margin 0

.square
	width 235px
	padding 22px 0 28px 20px

	h3
		font-size 14px
		line-height 14px
		padding 0 12px 8px 0
		margin 0 0 9px 0

	p
		width 215px
		font-size 13px
		line-height 23px
		margin 0

	.image
		width 172px
		height 205px
		margin 0 37px 38px 0

.square.plug.last
	width 236px
	border-right $white-border

.square.line
.square.plug
	border-right none