.footer
	padding: 32px 0 32px 0

	&__holder
		width 100%

		h1
			width 280px
			margin 0 0 16px 0
			font-size 21px
			line-height 21px

		h2
			margin 0 0 28px 0
			font-size 18px
			line-height 18px

		a
			margin 0 0 4px 0
			font-size 18px
			line-height 32px

		p
			width 220px
			font-size 18px
			line-height 32px

	&__company
		width 280px
		padding 0 0 36px 70px

	&__link
		width 230px
		padding 8px 0 0 0

	&__cv
		width 280px
		padding 0 0 0 30px

	&__social
		width 540px
		margin 0 0 0 70px

		.fa-facebook
		.fa-linkedin
		.fa-houzz
			width 52px
			height 52px
			margin 0 12px 0 0
			font-size 33px
			line-height 53px

		.fa-facebook
			font-size 31px
			line-height 56px