footer
    width 100%

    .footer
        padding: 32px 0 20px 0

        .holder
            width 100%

            h3
                width: 360px
                margin: 0 0 10px 0
                font-size: 16px
                line-height: 16px

                span
                    margin 0 0 0 8px

            h3.title
                margin 0 0 20px 0

            a
                margin 0 0 4px 0
                font-size 15px
                line-height 22px

            p
                width: 380px
                font-size: 14px
                line-height: 24px

            .company
                width: 380px
                padding: 0 0 32px 100px

                .link
                    width: 230px
                    padding: 2px 0 0 0

            .cv
                width: 210px
                padding: 0 20px 30px 100px

            .social
                width: 240px
                padding: 0
                margin: 0 0 0 100px

                .fa-facebook
                .fa-linkedin
                .fa-houzz
                    width: 27px
                    height: 27px
                    margin: 0 14px 0 0
                    font-size 27px
                    line-height 27px
