header
    width: 100%

    nav
        margin 0 0 12px 0

        ul
            width 100%

            li
                height 42px
                padding: 0 23px

                a
                    width 100%

                    h2
                        font-size 13px
                        line-height 46px

            li.title
                border-right $dotted

                .logo
                    margin 13px 20px 0 40px

                a
                    width: 404px
                    font-size 15px
                    line-height 45px

                    span
                        margin 0 0 0 8px
                        font-size 15px
                        line-height 45px
