.header--container
	padding 0 0 15px 0
	margin 0 0 18px 0

.header
	margin 0 auto

	&__logo
		width 340px

	&__outline
		width 30px
		height 30px
		margin 11px 28px 0 0

	&__white
		width 12px
		height 12px
		margin 9px 0 0 9px

	&__name
		width 238px

		h1
			margin 13px 0 8px 0
			font-size 22px
			line-height 22px

		p
			font-size 20px
			line-height 20px

	&__mobile
		width 40px
		height 32px
		padding 7px 0 1px 0
		margin 0

		.fa-bars
			font-size 25px
			line-height 32px