.listings
	width 647px
	margin 0 0 0 20px

	.listing
		width 306px
		padding 0 0 18px 0
		margin 0 11px 14px 0

		h3
			margin 10px 0 8px 28px
			font-size 21px
			line-height 26px

		p
			margin 0 5px 0 28px
			font-size 18px
			line-height 25px

		p.blue
			margin 0

		.fa-long-arrow-left
			height 23px
			padding 0px 14px
			margin 24px 80px 10px 100px
			font-size 16px
			line-height 23px

		.image
			width 306px
			height 180px
			margin 0 0 10px 0