.medias
	width 647px
	margin 0 0 20px 20px

	.media
		width 266px
		padding 24px 20px 14px 20px
		margin 0 11px 10px 0

		h3
			margin 0 0 18px 10px
			font-size 23px
			line-height 29px

		h4
			padding 7px 12px 8px 12px
			margin 2px 0 18px 10px
			font-size 15px
			line-height 15px

		p
			width 240px
			margin 0 5px 0 10px
			font-size 18px
			line-height 30px

		p.blue
			margin 0

		.image
			width 200px
			height 238px
			margin 32px 0 0 10px