md-sidenav
	width 195px
	max-width 195px

.navigation
	float left
	width 154px
	max-width 154px
	padding 18px 20px 0 20px
	margin 0

	&__tile
		width 152px
		margin 0 0 12px 0

		h4
			padding 14px 0 12px 0
			font-size 20px
			line-height 20px

		.fa-long-arrow-left
			padding 6px 0 2px 0
			font-size 30px
			line-height 30px