.md-sidenav-navigation
	width 235px
	max-width 235px

.side
	width 194px
	padding 0 20px 0 20px
	margin 24px 0 0 0

	&__tile
		width 192px
		height 46px
		margin 0 0 10px 0

		h4
			font-size 24px
			line-height 48px

		.fa-long-arrow-left
			font-size 32px
			line-height 50px

	&__soon
		width 80px
		height 18px
		padding 0 6px
		margin -23px 0 0 -12px

		h6
			width 80px
			height 18px
			font-size 11px
			line-height 19px

		.triangle
			margin 18px 0 0 58px
			border-width 6px 6px 0 6px