.slider-dots-holder
    margin 6px 0 0 0

    ul.slick-dots
        width: 516px
        margin 0 0 0 97px

        li
            width: 108px
            height: 54px
            margin: 0 10px 10px 0

        li button:before
            width 108px
            height 54px
