.search
	width 352px
	padding 20px 0 16px 0
	margin 0 0 18px 169px

	&__option
		width 154px
		margin 0 20px 0 0

		select
			width 154px
			height 50px
			font-size 24px
			line-height 24px

		.select-mask
			width 152px
			height 50px
			margin 0

			h4
				font-size 24px
				line-height 50px

	&__input
		// display block
		float left
		width 181px
		padding 0
		margin 0 10px 0 0

		input
			float left
			width 179px
			height 50px
			padding 0
			margin 0
			font-weight 500
			font-size 20px
			color $black
			background $white
			border $input-border
			border-radius 4px
			outline none
			text-align center
			cursor pointer
			-webkit-appearance none
			vertical-align middle
			-moz-appearance none
			appearance none

		input::-webkit-input-placeholder
		input:-moz-placeholder
		input::-moz-placeholder
		input:-ms-input-placeholder
			line-height normal

	&__reset
		display none
		float left
		width 66px
		height 50px
		padding 0
		margin 0

		.fa-times
			float left
			width 64px
			height 47px
			padding 0
			margin 0
			font-size 20px
			line-height 50px
			color $white
			background $grey-gradient
			border $grey-gradient-border
			border-radius 4px
			text-align center
			text-shadow $dark-shadow