.search
	width 605px
	padding 20px 0 10px 20px
	margin 0 0 18px 20px

	p
		margin 0 0 12px 0
		font-size 19px
		line-height 19px

	&__option
		width 149px
		margin 0 10px 14px 0

		select
			width 149px
			height 50px
			font-size 20px
			line-height 20px

		.select-mask
			width 147px
			height 52px
			margin 32px 0 0 0

			h4
				font-size 20px
				line-height 52px

	&__input
		display block
		float left
		width 211px
		padding 0
		margin 0 10px 0 0

		input
			float left
			width 209px
			height 52px
			padding 0
			margin 0
			font-weight 400
			font-size 20px
			color $black
			background $white
			border $white-border
			border-radius 4px
			outline none
			text-align center
			cursor pointer
			-webkit-appearance none
			vertical-align middle
			-moz-appearance none
			appearance none

		input::-webkit-input-placeholder
		input:-moz-placeholder
		input::-moz-placeholder
		input:-ms-input-placeholder
			line-height normal

	&__reset
		display block
		float left
		width 48px
		height 51px
		padding 0
		margin 32px 0 0 0

		.fa-times
			float left
			width 100%
			padding 0
			margin 0
			font-size 21px
			line-height 53px
			color $white
			text-align center
			text-shadow $dark-shadow