.slider
	width 611px
	margin 0 0 18px 28px

	.slick-slider
		width 611px
		margin 0

		img
			width 609px
			height 324px

		ul.slick-dots
			width: 600px
			padding 14px 0 0 4px

			li
				width: 140px
				height: 70px
				padding: 0
				margin: 0 12px 12px 0

				img
					width: 138px
					height: 68px

	.slick-slider.index
		margin 0

		ul.slick-dots
			width 120px
			padding 8px 0 0 245px

			li
				width 30px
				height 32px

				span
					width 30px
					height 32px
					font-size 61px
					line-height 16px