.square
	padding 32px 0 34px 0

	h1
		width 400px
		font-size 25px
		line-height 36px
		margin 0 0 18px 100px

	h3
		font-size 22px
		line-height 22px
		padding 0 0 11px 0
		margin 0 0 14px 100px

	h6
		width 400px
		margin 0 0 20px 100px
		font-size 20px
		line-height 29px

	p
		width 460px
		margin 0 0 0 100px
		font-size 19px
		line-height 32px

	p.full
		width 440px
		margin 0 0 16px 100px
		font-size 17px
		line-height 26px

	.service
		margin 0 220px 32px 100px

	#map
		width 458px
		height 220px
		margin 30px 0 0 100px