doctype
html(lang='en') 
	head
		title Projects - Residential - Sander Design - Landscape Architecture
		meta(charset="utf-8")
		meta(name="author" content="Sander Design - Landscape Architecture")
		meta(name="description" content="Sander Freedman is interested in sustainable design and environmental issues, and has over 21 years experience in environmental related work and design.")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1")
		
		
		link(type="text/css" href="../assets/css/index.css" rel="stylesheet" media="screen" )

	body
		.header-tag
		header
			.header
				nav
					ul
						li.title
							.logo
							a.brand.selected(href="../") SANDER DESIGN <span>Landscape Architecture</span>
						li.active
							a(href="#")
								h2 PROJECTS
						li
							a(href="../services/")
								h2 SERVICES
						li
							a(href="../awards/")
								h2 AWARDS
						li
							a(href="../media/")
								h2 MEDIA
						li
							a(href="../about/")
								h2 ABOUT
						li
							a(href="../contact/")
								h2 CONTACT

		.page
			.side
				a.selected.line(href="#") RESIDENTIAL
				a.commercial(href="commercial/") COMMERCIAL

			.list
				a(href="residential/contemporary-yard/")
					.listing.first
						h3 Contemporary Yard
						h4 Etobicoke - <span>Toronto</span>
						.item
							img(src="../assets/img/projects/residential/contemporary-yard/listing.jpg" alt="")

				a(href="residential/outdoor-room-midtown/")
					.listing
						h3 Outdoor Room
						h4 Midtown - <span>Toronto</span>
						.item
							img(src="../assets/img/projects/residential/outdoor-room-midtown/listing.jpg" alt="")

				a(href="residential/modern-classic-yorkville/")
					.listing
						h3 Modern Classic
						h4 Yorkville - <span>Toronto</span>
						.item
							img(src="../assets/img/projects/residential/modern-classic-yorkville/listing.jpg" alt="")

				a(href="residential/contemporary-court-wychwood-park/")
					.listing
						h3 Contemporary Court
						h4 Wychwood Park - <span>Toronto</span>
						.item
							img(src="../assets/img/projects/residential/contemporary-court-wychwood-park/listing.jpg" alt="")

			.list
				a(href="residential/mediterranean-patio-wychwood-park/")
					.listing
						h3 Mediterranean Patio
						h4 Wychwood Park - <span>Toronto</span>
						.item
							img(src="../assets/img/projects/residential/mediterranean-patio-wychwood-park/listing.jpg" alt="")

				a(href="residential/formal-garden-lawrence-park/")
					.listing
						h3 Formal Garden
						h4 Lawrence Park - <span>Toronto</span>
						.item
							img(src="../assets/img/projects/residential/formal-garden-lawrence-park/listing.jpg" alt="")

				a(href="residential/contemporary-entry-summerhill/")
					.listing
						h3 Contemporary Entry
						h4 Summerhill - <span>Toronto</span>
						.item
							img(src="../assets/img/projects/residential/contemporary-entry-summerhill/listing.jpg" alt="")

				a(href="residential/arts-and-crafts-deer-park/")
					.listing
						h3 Arts And Crafts
						h4 Deer Park - <span>Toronto</span>
						.item
							img(src="../assets/img/projects/residential/arts-and-crafts-deer-park/listing.jpg" alt="")

			.list
				a(href="residential/green-quad-forest-hill/")
					.listing
						h3 Green Quad
						h4 Forest Hill - <span>Toronto</span>
						.item
							img(src="../assets/img/projects/residential/green-quad-forest-hill/listing.jpg" alt="")

				a(href="residential/french-country-don-mills/")
					.listing
						h3 French Country
						h4 Don Mills - <span>Toronto</span>
						.item
							img(src="../assets/img/projects/residential/french-country-don-mills/listing.jpg" alt="")

				a(href="residential/sunken-garden-high-park/")
					.listing
						h3 Sunken Garden
						h4 High Park - <span>Toronto</span>
						.item
							img(src="../assets/img/projects/residential/sunken-garden-high-park/listing.jpg" alt="")

				a(href="residential/asian-fusion-leslieville/")
					.listing
						h3 Asian Fusion
						h4 Leslieville - <span>Toronto</span>
						.item
							img(src="../assets/img/projects/residential/asian-fusion-leslieville/listing.jpg" alt="")
			.list
				a(href="residential/country-estate-tottenham/")
					.listing
						h3 Country Estate
						h4 Tottenham - <span>Ontario</span>
						.item
							img(src="../assets/img/projects/residential/country-estate-tottenham/listing.jpg" alt="")

				a(href="residential/front-entry-garden-lorne-park/")
					.listing
						h3 Front Entry Garden
						h4 Lorne Park - <span>Mississauga</span>
						.item
							img(src="../assets/img/projects/residential/front-entry-garden-lorne-park/listing.jpg" alt="")

				a(href="residential/neo-georgian-kingsway/")
					.listing
						h3 Neo-Georgian
						h4 Kingsway - <span>Toronto</span>
						.item
							img(src="../assets/img/projects/residential/neo-georgian-kingsway/listing.jpg" alt="")

				a(href="residential/oval-garden-junction/")
					.listing
						h3 Oval Garden
						h4 Junction - <span>Toronto</span>
						.item
							img(src="../assets/img/projects/residential/oval-garden-junction/listing.jpg" alt="")

			.list
				a(href="residential/rock-garden-midtown/")
					.listing
						h3 Rock Garden
						h4 Midtown - <span>Toronto</span>
						.item
							img(src="../assets/img/projects/residential/rock-garden-midtown/listing.jpg" alt="")

				a(href="residential/front-entry-rosedale-west/")
					.listing
						h3 Front Entry
						h4 Rosedale West - <span>Toronto</span>
						.item
							img(src="../assets/img/projects/residential/front-entry-rosedale-west/listing.jpg" alt="")

				a(href="residential/rustic-oasis-leslieville/")
					.listing
						h3 Rustic Oasis
						h4 Leslieville - <span>Toronto</span>
						.item
							img(src="../assets/img/projects/residential/rustic-oasis-leslieville/listing.jpg" alt="")

				a(href="residential/formal-gartenanlagen-struckum/")
					.listing
						h3 Formal Gartenanlagen
						h4 Struckom - <span>Germany</span>
						.item
							img(src="../assets/img/projects/residential/formal-gartenanlagen-struckum/listing.jpg" alt="")

			.list
				a(href="residential/urban-deck-midtown/")
					.listing
						h3 Urban Deck
						h4 Midtown - <span>Toronto</span>
						.item
							img(src="../assets/img/projects/residential/urban-deck-midtown/listing.jpg" alt="")

				a(href="residential/front-entry-court-bloor-west/")
					.listing
						h3 Front Entry Court
						h4 Bloor West - <span>Toronto</span>
						.item
							img(src="../assets/img/projects/residential/front-entry-court-bloor-west/listing.jpg" alt="")

				a(href="residential/zen-garden-don-mills/")
					.listing
						h3 Zen Garden
						h4 Don Mills - <span>Toronto</span>
						.item
							img(src="../assets/img/projects/residential/zen-garden-don-mills/listing.jpg" alt="")

				.push

		footer
			.footer
				.holder
					.company
						h3.title SANDER DESIGN<span>Landscape Architecture</span>
						a(href="https://maps.google.com/maps?q=401+Richmond+Street+West,+Toronto,+ON,+Canada&hl=en&amp;sll=37.0625,-95.677068&amp;sspn=82.350741,125.332031&amp;oq=401+Richmond+&amp;hnear=401+Richmond+St+W,+Toronto,+Ontario+M5V+3A8,+Canada&amp;t=m&amp;z=17") 353-401 Richmond Street W, Toronto, Ontario, Canada

						.link
							a(href="mailto:hello@sanderdesign.ca?subject=Online%20Contact%20Card") hello@sanderdesign.ca
							a(href="tel:+1-416-597-1703") 416 597-1703

					.cv
						h3 ABOUT
						p Sander Freedman graduated in Landscape Architecture with an honours degree in 1987 at the University of Guelph.
					.social
						a.fa.fa-houzz(href="http://www.houzz.com/pro/sanderdesign/sander-design-landscape-architecture" target="_blank")
						a.fa.fa-facebook(href="https://www.facebook.com/pages/Sander-Design-Landscape-Architecture/353798814642180" target="_blank")
						a.fa.fa-linkedin(href="http://ca.linkedin.com/pub/sander-freedman/11/677/27a" target="_blank")

		script.
			var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-34471419-1']);_gaq.push(['_trackPageview']);(function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();
