
<div class="search--holder">
  <div class="search">
    <div data-ng-class="{'active': $state.includes('app.index')}" class="search__option">
      <select data-ng-model="search.category" data-ng-change="updateCategory(search.category);" ng-options="category for category in search.categories"></select>
      <div class="select-mask">
        <p data-ng-bind="search.category"><span class='player_caret'></span></p>
      </div>
    </div>
    <div class="search__option">
      <select data-ng-model="search.style" data-ng-change="updateStyle(search.style)" ng-options="style for style in search.styles"></select>
      <div class="select-mask">
        <p data-ng-bind="search.style"><span class='player_caret'></span></p>
      </div>
    </div>
  </div>
</div>
<div class="listings--holder">
  <div class="listings">
    <div data-ng-repeat="project in projects | categoryFilter: search.category | filter: search.filter" ui-sref="app.view({id:project.clean})" class="listing">
      <div class="image"><img src="/img/projects/residential/arts-and-crafts-deer-park/1.jpg"/></div>
      <h3 data-ng-bind="project.title"></h3>
      <p data-ng-bind="project.location.neighbourhood + &quot;,&quot;"></p>
      <p data-ng-bind="project.location.city" class="blue"></p>
    </div>
  </div>
</div>