.listings
	width 470px
	margin 0 0 30px 10px

.listing
	width 223px
	padding 0 0 18px 0
	margin 0 10px 12px 0

	h3
		margin 0 0 8px 14px
		font-size 17px
		line-height 23px

	p
		margin 0 5px 0 14px
		font-size 14px
		line-height 20px

	p.blue
		margin 0

	&__tags
		width 213px
		margin 28px 0 0 10px

	&__tag
		padding 6px 12px 8px 12px
		margin 0 7px 8px 0

		h4
			font-size 11px
			line-height 11px

	.fa-long-arrow-left
		height 22px
		padding 0 14px
		margin 24px 0 10px 40px
		font-size 15px
		line-height 22px

	.image
		width 223px
		height 111px
		padding 0
		margin 0 0 16px 0