footer
    width 100%

    .footer
        padding: 28px 0 20px 0

        .holder
            width 100%

            h3
                width 320px
                padding 0
                margin: 0 0 10px 0
                font-size: 15px
                line-height: 15px

                span
                    margin 0 0 0 6px

            h3.title
                margin 0 0 18px 0

            a
                margin 0 0 2px 0
                font-size 14px
                line-height 22px

            p
                width: 260px
                font-size: 14px
                line-height: 23px

            .company
                width: 230px
                padding: 0 0 32px 30px

                .link
                    width: 230px
                    padding: 6px 0 0 0

            .cv
                width: 260px
                padding: 0 0 26px 30px

            .social
                width: 240px
                padding: 0
                margin: 0 0 0 30px

                .fa-facebook
                .fa-linked
                .fa-houzz
                    width: 25px
                    height: 25px
                    margin: 0 12px 0 0
                    font-size 25px
                    line-height 25px
