.footer
	padding: 28px 0 28px 0

	&__holder
		width 100%

		h1
			width 280px
			margin 0 0 14px 0
			font-size 21px
			line-height 21px

		h2
			margin 0 0 28px 0
			font-size 18px
			line-height 18px

		a
			margin 0 0 4px 0
			font-size 17px
			line-height 29px

		p
			width: 260px
			font-size: 17px
			line-height: 29px

	&__company
		width: 230px
		padding: 0 0 42px 30px

	&__link
		width: 230px
		padding: 6px 0 0 0

	&__cv
		width: 260px
		padding: 0 0 38px 30px

	&__social
		width: 240px
		margin 0 0 0 30px

		.fa-facebook
		.fa-linked
		.fa-houzz
			width: 48px
			height: 48px
			margin: 0 12px 0 0
			font-size 31px
			line-height 50px

		.fa-facebook
			font-size 30px