md-sidenav
	width 155px
	max-width 155px

.navigation
	float left
	width 124px
	max-width 124px
	padding 18px 15px 0 15px
	margin 0

	&__tile
		width 122px
		height 40px
		margin 0 0 9px 0

		h4
			font-size 18px
			line-height 42px

		.fa-long-arrow-left
			font-size 29px
			line-height 43px