.page
    width: 100%

// .progress
//     float: left
//     width: 58px
//     height: 11px
//     background: url(../image/progress.png) no-repeat

// #award_1,
// #award_2,
// #award_3,
// #award_4,
// #award_5,
// #media_1,
// #media_2,
// #media_3,
// #media_4,
// #media_5,
// #media_6,
// #media_7,
// #services-consultation,
// #services-analysis,
// #services-design,
// #services-inspection
//     width: 200px
//     height: 238px
//     margin: 16px 0 16px 0

// #award_1
//     kground: url(../image/award/480/blooms11.jpg) no-repeat
//     height: 136px

// #award_2
//     kground: url(../image/award/480/blooms09.jpg) no-repeat
//     height: 136px

// #award_3
//     kground: url(../image/award/480/oala.jpg) no-repeat
//     height: 238px

// #award_4
//     kground: url(../image/award/480/vaughan.jpg) no-repeat
//     height: 238px

// #award_5
//     kground: url(../image/award/480/blooms08.jpg) no-repeat
//     height: 136px

// #media_1
//     kground: url(../image/media/480/cbq.jpg) no-repeat
//     height: 238px


// #media_2
//     kground: url(../image/media/480/design_talks.jpg) no-repeat
//     height: 238px

// #media_3
//     kground: url(../image/media/480/eco_living.jpg) no-repeat
//     height: 238px

// #media_4
//     kground: url(../image/media/480/ben_nobleman.jpg) no-repeat
//     height: 238px

// #media_5
//     kground: url(../image/media/480/hgtv.jpg) no-repeat
//     height: 238px

// #media_6
//     kground: url(../image/media/480/home_and_decor.jpg) no-repeat
//     height: 238px

// #media_7
//     kground: url(../image/media/480/ideas.jpg) no-repeat
//     height: 238px




// .write
//     float: left
//     width: 320px
//     background:#fff


//     .square .writing
//         float: left
//         width: 280px
//         padding: 30px 20px 30px 20px
//         border-bottom: 1px solid #e6e6e6


//         h3
//             float: left
//             height:22px
//             line-height: 15px
//             margin-bottom: 2px


//         p
//             float: left
//             width:250px
//             font-size: 12px
//             line-height: 18px
//             color: #666

//     .square .writing.last
//         float: left
//         width:280px
//         background: none

//     .squareA .writingA
//         float: left
//         width: 280px
//         padding: 0px 20px 30px 20px


//         #studio,
//         #profile
//             display: none

//         h1
//             float: left
//             width: 280px
//             font-size: 37px
//             font-weight: 400
//             line-height:47px
//             margin: 0 0 42px 0
//             color: #333
//             text-align: center

//         h3
//             font-size: 21px
//             line-height:15px
//             height: 30px

//         h4
//             font-size: 14px
//             line-height:15px
//             height:22px
//             color: #333

//         h5
//             font-size: 13px
//             color: #69F
//             font-style: italic

//         h6
//             display: block
//             float: left
//             width: 280px
//             font-size: 14px
//             line-height:23px
//             margin: 30px 0 10px 0
//             color: #333
//             text-align: center

//         p
//             float: left
//             width:280px
//             font-size: 12px
//             line-height: 18px
//             color: #666
//             padding-top: 20px
//             text-align: center

//         p.side
//             float: left
//             width: 280px
//             padding: 0


//     .squareA .writingA.last
//         float: left
//         width: 280px
//         background: none


//     .squareB
//         float: left
//         width: 320px
//         background:#fff

//         .writingB
//             float: left
//             width: 280px
//             padding: 30px 20px 50px 20px
//             border-bottom: 1px solid #e6e6e6

//             .left
//                 float: left
//                 width: 210px
//                 height: 88px


//             .right
//                 float: left
//                 width: 60px


//             .right a
//                 float: left
//                 width:60px
//                 font-size: 17px
//                 line-height:15px
//                 height: 28px
//                 color: #333
//                 text-align: right


//             .right a span
//                 float: left
//                 width:60px
//                 font-size: 15px
//                 line-height: 41px
//                 color: #444
//                 text-align: right


//             #profile
//                 display:none


//             h1
//                 float: left
//                 width: 280px
//                 font-size: 37px
//                 font-weight: 400
//                 line-height:45px
//                 margin: 0 0 30px 0
//                 color: #333
//                 text-align: center


//             h3
//                 font-size: 17px
//                 line-height:15px
//                 height: 28px
//                 text-align: left
//                 letter-spacing: 0


//             h4
//                 font-size: 13px
//                 line-height:15px
//                 height:19px
//                 color: #333


//             h5
//                 font-size: 12px
//                 color: #69F
//                 font-style: italic


//             h6
//                 float: left
//                 width: 280px
//                 font-size: 14px
//                 line-height:21px
//                 margin: 20px 0 25px 0
//                 color: #333
//                 text-align: center


//             p
//                 float: left
//                 width:270px
//                 font-size: 12px
//                 line-height: 18px
//                 color: #666
//                 text-align: left


//         .writingB.last
//             width:280px
//             background: none



// #map
//     float: left
//     width: 280px
//     height: 220px
//     margin: 10px 0 0 20px

// .testimonials
//     float:left
//     width:280px

//     .square .testimonial
//         float: left
//         width: 280px
//         padding: 30px 20px 20px 20px

//          p
//             width: 280px
//             font-size: 12px
//             line-height: 19px
//             color: #666

//          h6
//             width: 280px
//             margin-top: 12px
//             font-size: 12px
//             line-height: 19px
//             color: #333

//     .square #testimonial_1
//         float: left
//         width: 100px
//         height: 120px
//         margin: 0 20px 0 0
//         background: #ccc url(../image/testimonial/320/testimonialA.jpg) no-repeat

//     .square #testimonial_2
//         float: left
//         width: 100px
//         height: 120px
//         margin: 0 20px 0 0
//         background: #ccc url(../image/testimonial/320/testimonialB.jpg) no-repeat


// .push
//     height: 370px
//     clear: both
//     background: #fff

// footer
//     position:relative
//     bottom:0
//     width: 320px
//     height: 390px

//     font-size:12px
//     color:#666
//     // background:#f7f7f7
//     overflow:hidden
//     border-top:1px solid #e6e6e6
//     // padding: 0
//     margin: 0

//     .holder
//         float: left
//         width:320px
//         height: 390px

//         .about
//             display: none

//         #location
//             float: left
//             width:320px
//             height: 170px

//             .address
//                 float: left
//                 width: 280px
//                 padding: 25px 20px 0 20px

//                 h3
//                     float: left
//                     width: 280px
//                     margin: 4px 0 16px 0
//                     line-height: 1.4em
//                     font-size: 1.1em
//                     olor: #666
//                     text-align: left


//             .address a
//                 float: left
//                 width: 182px
//                 font-size: 1em
//                 line-height: 1.6em
//                 color:#666
//                 text-align: left

//             .addressB
//                 float: left
//                 width: 280px
//                 padding: 0 20px 0 20px

//                 h3
//                     display: none

//                 a
//                     float: left
//                     width: 182px
//                     font-size: 1em
//                     line-height: 1.6em
//                     color:#666
//                     text-align: left

//         .cv
//             float: left
//             width: 210px
//             height: 120px
//             padding: 10px 20px 0 20px

//             h3
//                 float: left
//                 width: 200px
//                 margin: 4px 0 16px 0
//                 font-size: 1em
//                 line-height: 1.4em
//                 color: #666
//                 text-align: left

//             p
//                 float: left
//                 width: 200px
//                 font-size: 1em
//                 line-height: 1.6em
//                 color: #777

//         .social
//             display: block
//             float:left
//             width: 240px
//             margin:0 0 0 20px
//             padding: 0
//             padding: 0 0 0 0

//             a#facebook
//                 float: left
//                 width: 28px
//                 height: 28px
//                 margin: 28px 16px 0 0
//                 background: url(../image/facebook.png) no-repeat

//             a#linked
//                 float: left
//                 width: 28px
//                 height: 28px
//                 margin: 28px 16px 0 0
//                 background: url(../image/linked.png) no-repeat

//             a#houzz
//                 float: left
//                 width: 28px
//                 height: 28px
//                 margin: 28px 16px 0 0
//                 background: url(../image/houzz.png) no-repeat
