.slider-dots-holder
    margin 8px 0 6px 0

    ul.slick-dots
        width: 365px
        margin 0 0 0 10px

        li
            width: 82px
            height: 41px
            margin: 0 6px 6px 0

        li button:before
            float: left
            width 82px
            height 41px
            font-size: 1px
            line-height: 18px
