.search
	width 333px
	padding 18px 0 18px 20px
	margin 10px 0 18px 10px
	border $green-light-border
	border-radius 4px

	h6
		margin 0 0 14px 0
		font-size 17px
		line-height 17px

	&__option
		width 152px
		margin 0 11px 0 0

		select
			width 152px
			height 48px
			font-size 22px
			line-height 22px

		.select-mask
			width 150px
			height 48px
			margin 30px 0 0 0

			h4
				font-size 22px
				line-height 49px

	&__input
		display: none

	&__reset
		width 293px
		height 46px

		.fa-times
			font-size 24px
			line-height 47px