.search
	width 315px
	padding 18px 0 14px 20px
	margin 0 0 18px 20px
	border $green-light-border

	p
		margin 0 0 13px 0
		font-size 18px
		line-height 18px

	&__option
		width 142px
		margin 0 11px 14px 0

		select
			width 140px
			height 48px
			font-size 20px
			line-height 20px

		.select-mask
			width 140px
			height 48px
			margin 31px 0 0 0

			h4
				font-size 20px
				line-height 48px

	&__input
		display: none

	&__reset
		width 293px
		height 46px

		.fa-times
			font-size 24px
			line-height 47px