.search
	width 335px
	margin 10px 0 22px 30px

	&__option
		width 151px
		margin 0 11px 0 0

		select
			width 151px
			height 44px
			font-size 20px
			line-height 20px

		.select-mask
			width 149px
			height 44px

			p
				font-size 20px
				line-height 45px