.slider
	width 375px

	.slick-slider
		width 375px

		img
			width 100%
			height 188px

		ul.slick-dots
			width: 356px
			padding 12px 0 0 0

			li
				width: 79px
				height: 39px
				padding: 0
				margin: 0 8px 10px 0

				img
					width: 77px
					height: 37px

	.slick-slider.index
		margin 0 0 8px 0

		ul.slick-dots
			width: 122px
			padding 8px 0 0 121px

			li
				width 30px
				height 30px

				span
					width 30px
					height 30px
					font-size 61px
					line-height 16px