.write
	width: 100%

	.square
		padding: 28px 0 32px 0

		h1
			width 280px
			font-size 23px
			line-height: 34px
			margin: 0 0 22px 30px

		h3
			font-size 18px
			line-height: 18px
			padding: 0 0 8px 0
			margin: 0 150px 10px 30px

		h6
			width 270px
			margin: 0 0 24px 30px
			font-size 19px
			line-height: 28px

		p
			width: 320px
			margin: 0 40px 0 30px
			font-size: 15px
			line-height: 23px

		p.full
			width 280px
			margin 0 0 20px 30px
			font-size: 16px
			line-height: 25px

		.service
			margin: 0 100px 32px 30px

		#map
			width: 308px
			height: 220px
			margin: 20px 0 0 30px

.testimonials
	width 100%

	.testimonial
		width: 100%
		padding: 30px 0 20px 0
		margin 0

		p
			width 300px
			margin 8px 0 20px 30px
			font-size: 15px
			line-height: 26px

		h6
			margin: 0 0 0 30px
			font-size: 16px
			line-height: 16px

	.testimonial-image
		width: 100px
		height: 120px
		margin: 0 18px 0 30px


	// .square .writing.last
	//     float: left
	//     width:280px
	//     background: none

	// .squareA .writingA
	//     float: left
	//     width: 280px
	//     padding: 0px 20px 30px 20px

	//     #studio,
	//     #profile
	//         display: none

	//     h1
	//         float: left
	//         width: 280px
	//         font-size: 37px
	//         font-weight: 400
	//         line-height:47px
	//         margin: 0 0 42px 0
	//         color: #333
	//         text-align: center

	//     h3
	//         font-size: 21px
	//         line-height:15px
	//         height: 30px

	//     h4
	//         font-size: 14px
	//         line-height:15px
	//         height:22px
	//         color: #333

	//     h5
	//         font-size: 13px
	//         color: #69F
	//         font-style: italic

	//     h6
	//         display: block
	//         float: left
	//         width: 280px
	//         font-size: 14px
	//         line-height:23px
	//         margin: 30px 0 10px 0
	//         color: #333
	//         text-align: center

	//     p
	//         float: left
	//         width:280px
	//         font-size: 12px
	//         line-height: 18px
	//         color: #666
	//         padding-top: 20px
	//         text-align: center

	//     p.side
	//         float: left
	//         width: 280px
	//         padding: 0


	// .squareA .writingA.last
	//     float: left
	//     width: 280px
	//     background: none


	// .squareB
	//     float: left
	//     width: 320px
	//     background:#fff

	//     .writingB
	//         float: left
	//         width: 280px
	//         padding: 30px 20px 50px 20px
	//         border-bottom: 1px solid #e6e6e6

	//         .left
	//             float: left
	//             width: 210px
	//             height: 88px


	//         .right
	//             float: left
	//             width: 60px


	//         .right a
	//             float: left
	//             width:60px
	//             font-size: 17px
	//             line-height:15px
	//             height: 28px
	//             color: #333
	//             text-align: right


	//         .right a span
	//             float: left
	//             width:60px
	//             font-size: 15px
	//             line-height: 41px
	//             color: #444
	//             text-align: right


	//         #profile
	//             display:none


	//         h1
	//             float: left
	//             width: 280px
	//             font-size: 37px
	//             font-weight: 400
	//             line-height:45px
	//             margin: 0 0 30px 0
	//             color: #333
	//             text-align: center


	//         h3
	//             font-size: 17px
	//             line-height:15px
	//             height: 28px
	//             text-align: left
	//             letter-spacing: 0


	//         h4
	//             font-size: 13px
	//             line-height:15px
	//             height:19px
	//             color: #333


	//         h5
	//             font-size: 12px
	//             color: #69F
	//             font-style: italic


	//         h6
	//             float: left
	//             width: 280px
	//             font-size: 14px
	//             line-height:21px
	//             margin: 20px 0 25px 0
	//             color: #333
	//             text-align: center


	//         p
	//             float: left
	//             width:270px
	//             font-size: 12px
	//             line-height: 18px
	//             color: #666
	//             text-align: left


	//     .writingB.last
	//         width:280px
	//         background: none
