.contact
	float left
	width 280px
	padding 26px 20px 34px 20px
	border-top $white-border
	background $white

	h1
		width 280px
		padding 0
		margin 0 0 22px 0
		font-weight 500
		font-size 31px
		line-height 42px
		text-align left

	span
		float left
		width 260px
		padding 0
		margin 0 0 24px 10px
		font-style italic
		font-weight 600
		font-size 26px
		line-height 38px
		text-align left

	p
		width 270px
		margin 0 0 18px 0
		font-weight 500
		font-size 23px
		line-height 33px
		color $paragraph

	.profile
		display none