footer
	position:relative
	width 100%

.footer
	float: left
	width 100%
	padding: 32px 0 24px 0
	border-top $white-border
	background $accent

	&__holder
		position: relative
		width 100%
		margin 0 auto

		h1
			float left
			width 280px
			margin 0 0 15px 0
			font-weight 500
			font-size 21px
			line-height 21px
			color $black
			text-align left
			color $black
			border none

		p
			float left
			width 100%
			padding 0
			margin 0 0 22px 0
			font-style italic
			font-weight 400
			font-size 20px
			line-height 20px
			color $paragraph
			border none

		a
			float left
			padding 0 0 3px 0
			margin 0 0 12px 0
			font-size 18px
			line-height 30px
			color $black
			border-bottom 1px solid $green
			text-align left

	&__company
		float left
		width 220px
		padding 0 0 38px 30px
		margin 0

	&__link
		float left
		width 230px
		padding 0
		margin 4px 0 0 0

		a
			float left
			padding 0 0 4px 0
			margin 0 0 16px 0
			font-style italic
			font-size 20px
			line-height 24px
			color $paragraph
			border-bottom 1px solid $green
			text-align left

	&__cv
		float left
		width 260px
		padding 0
		margin 0 0 34px 30px

		p
			width: 260px
			margin 0
			font-style normal
			font-size 18px
			line-height 31px

	&__social
		float left
		width 240px
		padding 0
		margin 0 0 0 30px

		.fa-facebook
		.fa-linkedin
		.fa-houzz
			float: left
			width: 54px
			height: 50px
			margin: 0 14px 0 0
			font-size 33px
			line-height 54px
			color #999
			background: $white
			border $dotted
			border-radius: 4px
			text-align center

		.fa-facebook
			font-size 31px
			line-height 57px
			color #3b589c

		.fa-linkedin
			color #007ab9

		.fa-houzz
			color #8ac541

	&__map
		display: none