header
	position: relative
	width: 100%
	padding: 0
	margin: 0
	border none

.header--container
	float left
	width 100%
	padding 0 0 12px 0
	margin 0 0 14px 0
	background $white
	border-bottom $white-border

.header
	position relative
	width 100%
	margin 0 auto

	&__brand
		float left
		width 100%
		padding 0
		margin 0
		background $white

	&__logo
		position relative
		width 300px
		margin 0 auto

	&__outline
		float left
		width 28px
		height 28px
		padding 0
		margin 14px 18px 0 10px
		background $green
		border-radius 10px 0 10px 0

	&__white
		float left
		width 8px
		height 8px
		background $white
		margin 10px 0 0 10px

	&__name
		float left
		width 244px
		padding 0
		margin 0

		h1
			float left
			width 100%
			padding 0
			margin 17px 0 10px 0
			font-weight 700
			font-size 23px
			line-height 23px
			text-align left
			color $black
			border none

		p
			float left
			width 100%
			padding 0
			margin 0 0 18px 0
			font-weight 400
			font-size 23px
			line-height 23px
			color $paragraph
			border none

	&__mobile
		float left
		padding 6px 10px 5px 10px
		margin 0 0 0 58px
		background $grey-gradient
		border $grey-gradient-border
		border-top none
		border-radius 4px
		cursor pointer
		outline none

		h3
			float left
			width 100%
			font-weight 500
			font-size 14px
			line-height 14px
			color $white
			text-align center
			text-shadow $dark-shadow

	nav
		display none