header
	position: relative
	width: 100%
	padding: 0
	margin: 0
	border none

.header--container
	float left
	width 100%
	padding 0 0 12px 0
	margin 0 0 18px 0
	background $white
	border-bottom $white-border

.header
	position: relative
	width 100%
	margin 0 auto

	&__brand
		float left
		width 100%
		padding 0
		margin 0
		background $white

	&__logo
		position relative
		width 290px
		margin 0 auto

	&__outline
		float left
		width 26px
		height 26px
		padding 0
		margin 14px 22px 0 0
		background $green
		border-radius 10px 0 10px 0

	&__white
		float left
		width 10px
		height 10px
		background $white
		margin 8px 0 0 8px

	&__name
		float left
		width 206px
		padding 0
		margin 0

		h1
			float left
			width 100%
			padding 0
			margin 13px 0 8px 0
			font-weight 600
			font-size 20px
			line-height 20px
			text-align left
			color $black
			border none

		h2
			float left
			width 100%
			padding 0
			margin 0
			font-style italic
			font-weight 400
			font-size 17px
			line-height 17px
			color $paragraph
			border none

	&__mobile
		float left
		width 34px
		height 28px
		padding 8px 0 1px 0
		margin 0 0 0 0
		background $grey-gradient
		border $grey-gradient-border
		border-top none
		border-radius 0 0 4px 4px
		cursor: pointer

		.fa-bars
			float left
			width 100%
			font-weight normal
			font-size 21px
			line-height 29px
			color $white
			text-align center
			text-shadow: $dark-shadow

	nav
		display: none