.listings
	float: left
	width: 280px
	margin 0 0 0 20px

	.listing
		float: left
		width 238px
		padding 22px 20px 14px 20px
		margin 0 0 10px 0
		background $white
		border $border

		h3
			float: left
			width 238px
			margin 0 0 18px 0
			font-style italic
			font-weight 400
			font-size 23px
			line-height 23px

		p
			float left
			margin 0 4px 18px 0
			font-weight 300
			font-size 19px
			line-height 19px
			color #555

		p.blue
			color #69F

		// p
		// 	float: left
		// 	width 238px
		// 	margin 0 0 18px 0
		// 	font-size: 14px
		// 	line-height: 22px
		// 	color: #666

		.fa-long-arrow-left
			float left
			height 20px
			padding 0px 14px
			margin 10px 0 0 20px
			font-size 15px
			line-height 20px
			color $white
			background #333
			border-radius 4px
			text-align center
			text-decoration none

		.image
			float left
			width 218px
			height 238px
			padding 0
			margin 0 0 20px 0
			background $background
			border $border
			border-radius 4px

			img
				float: left
				width 100%
				height 100%

		.award
			float: left
			width: 200px
			height: 136px
			padding: 0
			margin 0 0 0 20px
			background #fff
			border $border
			box-shadow: 1px 1px 3px 1px #999
			-webkit-box-shadow: 1px 1px 3px 1px #999
			-moz-box-shadow: 1px 1px 3px 1px #999;

			img
				float: left
				width 100%
				height 100%
