.listings
	float left
	width 300px
	margin 0 0 0 10px

	.listing
		float left
		width 278px
		padding 12px 10px 24px 10px
		margin 0 0 12px 0
		background $white
		border $input-border
		border-radius none
		cursor pointer

		h3
			float left
			width 100%
			margin 10px 0 14px 20px
			font-weight 500
			font-size 23px
			line-height 23px
			color $black

		h4
			float left
			padding 5px 10px 6px 20px
			margin 0 0 14px 10px
			font-weight 500
			font-size 15px
			line-height 15px
			color $white
			background $grey-gradient
			border-radius 4px


		p
			float left
			margin 0 5px 0 10px
			font-weight 500
			font-size 19px
			line-height 28px
			color $paragraph

		p.blue
			color $paragraph
			margin 0

		// p
		// 	float left
		// 	width 238px
		// 	margin 0 0 18px 0
		// 	font-size 14px
		// 	line-height 22px
		// 	color #666

		.fa-long-arrow-left
			float left
			height 20px
			padding 0px 14px
			margin 10px 0 0 20px
			font-size 15px
			line-height 20px
			color $white
			background #333
			border-radius 4px
			text-align center
			text-decoration none

		.image
			float left
			width 276px
			height 188px
			padding 0
			margin 0 0 10px 0
			background $white
			border $white-border
			border-radius 4px
			overflow hidden

			img
				float left
				width 100%
				height 100%

		.media
			float left
			width 200px
			height 238px
			padding 0
			margin 20px 0 0 10px
			background $white
			border $white-border
			border-radius 4px
			overflow hidden

			img
				float left
				width 100%
				height 100%

		.award
			float left
			width 200px
			height 136px
			padding 0
			margin 0 0 0 20px
			background #fff
			border $border
			box-shadow 1px 1px 3px 1px #999
			-webkit-box-shadow 1px 1px 3px 1px #999
			-moz-box-shadow 1px 1px 3px 1px #999;

			img
				float: left
				width 100%
				height 100%
