.loadbar
	position fixed
	width 100%
	height 100%
	top 0
	left 0
	background $black
	opacity 0.5
	filter unquote('alpha(opacity=50)')
	z-index 999999
	overflow hidden
	cursor pointer
	pointer-events none

	&__icon
		position fixed;
		top 130px
		left 50%
		width 22px
		height 22px
		margin 0 0 0 -16px
		border solid 4px transparent
		border-top-color $green
		border-left-color $green
		border-radius 1000px
		-webkit-animation: loading-bar-spinner 800ms linear infinite;
		-moz-animation:    loading-bar-spinner 800ms linear infinite;
		-ms-animation:     loading-bar-spinner 800ms linear infinite;
		-o-animation:      loading-bar-spinner 800ms linear infinite;
		animation:         loading-bar-spinner 800ms linear infinite;

@-webkit-keyframes loading-bar-spinner {
  0%   { -webkit-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes loading-bar-spinner {
  0%   { -moz-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes loading-bar-spinner {
  0%   { -o-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes loading-bar-spinner {
  0%   { -ms-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes loading-bar-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}