md-sidenav.md-closed
	display none

md-sidenav
	position fixed
	-webkit-flex-direction column
	-ms-flex-direction column
	flex-direction column
	width 175px
	max-width 175px
	height 100%
	min-height 100%
	bottom 0
	background none
	outline none
	overflow none
	box-sizing border-box
	left 0
	top 0
	background $white
	border-right $white-border
	z-index 999999
	-webkit-transform translate3d(0%, 0, 0)
	transform translate3d(0%, 0, 0)
	overflow scroll

md-sidenav.md-closed
	-webkit-transform translate3d(-100%, 0, 0);
	transform translate3d(-100%, 0, 0);

md-sidenav.md-closed-remove
	display -webkit-flex;
	display -ms-flexbox;
	display flex;
	transition all 1s cubic-bezier(0.25, 0.8, 0.25, 1);

md-sidenav.md-closed-add.md-closed-add-active, md-sidenav.md-closed-remove.md-closed-remove-active
	transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);

md-sidenav.md-locked-open-add,
md-sidenav.md-locked-open-remove
	position: static;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);

.navigation
	float left
	width 144px
	max-width 144px
	padding 16px 15px 0 15px
	margin 0

	&__tile
		float right
		width 142px
		padding 0
		margin 0 0 10px 0
		background $green-light
		border $green-light-border
		border-radius 2px
		text-align center
		text-shadow $dark-shadow
		cursor pointer
		outline none

		h4
			float left
			width 100%
			padding 12px 0 10px 0
			margin 0
			font-weight 500
			font-size 19px
			line-height 19px
			color $black
			text-align center
			text-shadow $shadow
			outline none

		.fa-long-arrow-left
			float left
			width 100%
			left 0
			padding 5px 0 2px 0
			margin 0
			font-size 28px
			line-height 28px
			color $black
			border none
			text-align center
			text-shadow $shadow
			cursor pointer
			outline none

	&__tile.active
		background $grey-gradient
		border $grey-gradient-border

		h4
			color $white
			text-shadow $dark-shadow