.search
	float left
	width 310px
	padding 14px 0 12px 10px
	margin 0 0 18px 0
	background $accent
	border-top $input-border
	border-bottom $input-border
	border-radius none

	h6
		float left
		width 100%
		margin 0 0 12px 0
		font-weight 500
		font-size 16px
		line-height 16px
		color $paragraph
		text-align center
		text-shadow $shadow

	&__option
		float left
		width 145px
		padding 0
		margin 0 10px 0 0

		select
			float left
			width 145px
			height 44px
			padding 0
			margin 0
			font-weight 400
			font-size 21px
			line-height 21px
			color $black
			background $white
			border $input-border
			border-radius 4px
			outline none
			text-align center
			cursor pointer
			-webkit-appearance none
			vertical-align middle
			-moz-appearance none
			appearance none
			z-index 100

		.select-mask
			position absolute
			width 143px
			height 44px
			padding 0
			margin 27px 0 0 0
			background $white
			border $input-border
			border-radius 4px
			vertical-align middle
			z-index 99
			pointer-events: none

			p
				float left
				width 100%
				padding 0
				margin 0
				font-weight 500
				font-size 21px
				line-height 45px
				color $black
				text-align center
				z-index 999

	&__input
	&__reset
		display: none