.search
	float left
	width 310px
	padding 0
	margin 20px 0 22px 10px

	&__option
		float left
		width 145px
		padding 0
		margin 0 10px 0 0

		select
			float left
			width 145px
			height 48px
			padding 0
			margin 0
			font-weight 400
			font-size 21px
			line-height 21px
			color $white
			background $grey-gradient
			border $grey-gradient-border
			border-radius 2px
			outline none
			text-align center
			cursor pointer
			-webkit-appearance none
			vertical-align middle
			-moz-appearance none
			appearance none
			z-index 100

		.select-mask
			position absolute
			width 143px
			height 48px
			padding 0
			margin 0
			color $paragraph
			background $tile
			border $tile-border
			border-radius 2px
			vertical-align middle
			z-index 99
			pointer-events: none

			p
				float left
				width 100%
				padding 0
				margin 0
				font-weight 400
				font-size 21px
				line-height 49px
				color $grey
				text-align center
				z-index 999

	&__input
	&__reset
		display: none