.squares
	float: left
	width: 100%
	background $white
	border-top $white-border

.row
	float left
	width 100%

.square
	float left
	width 100%
	padding 32px 0 34px 0
	border-bottom $dotted

	h1
		width 260px
		font-size 23px
		line-height 35px
		padding 0
		margin 0 0 24px 20px
		text-align left

		i
			color $grey

	h3
		float left
		font-weight 400
		font-size 20px
		line-height 20px
		padding 0 0 10px 0
		margin 0 0 14px 20px
		border-bottom $border

	h6
		float left
		width 270px
		padding 0
		margin 0 0 24px 20px
		font-size 19px
		line-height 28px
		color $black

	p
		width 270px
		margin 0 20px 0 20px
		font-weight 400
		font-size 17px
		line-height 30px
		color $paragraph

	p.full
		width 260px
		margin 0 0 16px 20px
		font-size 16px
		line-height 25px

	p.large
		display none

	.service
		float left
		width 200px
		height 238px
		margin 0 60px 28px 20px
		border $border
		box-shadow: 1px 1px 3px 1px #999
		-webkit-box-shadow: 1px 1px 3px 1px #999
		-moz-box-shadow: 1px 1px 3px 1px #999;

		img
			float left
			width 100%
			height 100%

	.profile
		display none

	#map
		float: left
		width: 278px
		height: 220px
		margin: 20px 0 0 20px
		border $border-light
		box-shadow none
		-webkit-box-shadow none
		-moz-box-shadow none

.square.end
	border-bottom none