.testimonials
	float left
	width 100%
	margin 0 0 20px 0
	background $white
	border-bottom $white-border

.testimonial
	float left
	width 100%
	padding 32px 0 42px 0
	margin 0
	border-bottom $dotted

	p
		width 280px
		margin 0 0 24px 20px
		font-weight 500
		font-size 20px
		line-height 29px
		color $paragraph

	h6
		margin 0 0 0 20px
		width 280px
		font-weight 500
		font-size 20px
		line-height 20px
		color $black

.testimonial--image
	float left
	width 100px
	height 120px
	margin 0 20px 0 20px
	background $background
	border $white-border

.testimonial.end
	border-bottom none
