md-sidenav.md-sidenav.md-closed(md-component-id='panel' md-disable-backdrop esc-key='self.close()')
	.panel
		.panel__tile(ui-sref='app.index' data-ng-click='self.close()' ui-sref-active='active')
			h4.tk-usual Home
		.panel__tile(ui-sref='app.project' data-ng-click='self.close()' ui-sref-active='active')
			h4.tk-usual Projects
		.panel__tile(ui-sref='app.services' data-ng-click='self.close()' ui-sref-active='active')
			h4.tk-usual Services
		.panel__tile(ui-sref='app.media' data-ng-click='self.close()' ui-sref-active='active')
			h4.tk-usual Media
		.panel__tile(ui-sref='app.contact' data-ng-click='self.close()' ui-sref-active='active')
			h4.tk-usual Contact

	.panel__close(data-ng-click='self.close()')
		.fa.fa-angle-left

.backdrop(ng-show='self.backdrop')