.header--container
	padding 0 0 16px 0
	margin 0 0 12px 0

.header
	margin 0 auto

	&__logo
		width 320px

	&__outline
		width 24px
		height 24px
		margin 12px 20px 0 0

	&__white
		width 8px
		height 8px
		margin 8px 0 0 8px

	&__name
		width 208px

		h1
			margin 14px 0 10px 0
			font-size 18px
			line-height 18px

		h2
			font-size 17px
			line-height 17px

	&__mobile
		width 26px
		margin 16px 0 0 0

		.bar
			width 26px
			height 2px
			margin 0 0 5px 0

		.b
			width 22px

		.c
			width 18px
