.squares
	margin 0 0 20px 0

.square
	padding 32px 0 34px 0

	h3
		font-size 18px
		line-height 18px
		padding 0 0 10px 0
		margin 0 0 15px 24px

	p
		width 310px
		margin 0 40px 0 24px
		font-size 17px
		line-height 30px

	.image
		width 228px
		height 248px
		margin 0 0 38px 32px