.testimonial
	width 100%
	padding 28px 0 38px 0

	p
		width 325px
		margin 0 0 12px 30px
		font-size 17px
		line-height 30px

	h6
		margin 24px 0 0 30px
		font-size 18px
		line-height 18px

.testimonial--image
	width 333px
	height 168px
	margin 0 0 24px 20px