.view
	width 353px
	padding 0 0 24px 0
	margin 0 0 30px 10px
	border $input-border

	.fa-long-arrow-left
		width 323px
		padding 4px 30px 4px 0
		font-size 28px
		line-height 28px

	h3
		width 293px
		margin 28px 0 16px 30px
		font-size 22px
		line-height 22px

	h4
		margin 0 5px 22px 30px
		font-size 17px
		line-height 24px

	p
		width 293px
		margin 0 0 0 30px
		font-size 17px
		line-height 31px