.view
	width 438px
	padding 0 0 16px 0
	margin 0 0 40px 20px

	.fa-long-arrow-left
		padding 8px 0 6px 0
		font-size 30px
		line-height 30px

	h3
		width 378px
		margin 28px 0 14px 30px
		font-size 22px
		line-height 22px

	h4
		margin 0 5px 22px 30px
		font-size 17px
		line-height 24px

	p
		width 378px
		margin 0 0 18px 30px
		font-size 17px
		line-height 31px