.contact
	width 315px
	padding 26px 30px 34px 30px

	h1
		width 315px
		margin 0 0 22px 0
		font-size 32px
		line-height 48px

	span
		width 295px
		margin 0 0 24px 10px
		font-size 25px
		line-height 37px

	p
		width 315px
		margin 0 0 18px 0
		font-size 20px
		line-height 33px