.search--holder
	.search
		.search__option(data-ng-class='{\'active\': $state.includes(\'app.index\')}')
			select(data-ng-model='search.category', data-ng-change='updateCategory(search.category);', ng-options="category for category in search.categories")
			.select-mask
				p(data-ng-bind='search.category') <span class='player_caret'></span>

		.search__option
			select(data-ng-model='search.style', data-ng-change='updateStyle(search.style)', ng-options="style for style in search.styles")
			.select-mask
				p(data-ng-bind='search.style') <span class='player_caret'></span>
	//-
	//- .search__input
	//- 	input(data-ng-model='search.filter', placeholder='Filter Title')
	//-
	//- .search__reset(data-ng-click='reset()')
	//- 	.fa.fa-times

.listings--holder
	.listings
		.listing(data-ng-repeat='project in projects | categoryFilter: search.category | filter: search.filter', ui-sref='app.view({id:project.clean})')
			.image
				img(src="/img/projects/residential/arts-and-crafts-deer-park/1.jpg")
			h3(data-ng-bind='project.title')
			p(data-ng-bind='project.location.neighbourhood + ","')
			p.blue(data-ng-bind='project.location.city')