.container
	.side
		a.selected.line(href="#") RESIDENTIAL
		a.commercial(href="commercial/") COMMERCIAL

	.list
		a(href="residential/contemporary-yard/")
			.listing.first
				h3 Contemporary Yard
				h4 Etobicoke - <span>Toronto</span>
				.item
					img(src="../assets/img/projects/residential/contemporary-yard/listing.jpg" alt="")