$white = #fff
$white-border = 1px solid #c8c8c8

$black = #333
$black-border = 1px solid $black
$tile = #f4f4f4
$tile-border = 1px solid #d9d9d9

$paragraph = #787878

$green = #c3d021
$green-light = #FBFCED
$input-border = 1px solid #ddd

$border = 1px solid #aaa
$border-light = 1px solid #ccc

$shadow = 1px -1px 2px #fff
$dark-shadow = 1px 1px 0 #333

$grey-gradient = linear-gradient(to bottom, #565858, #464848)
$grey-gradient-border = 1px solid #333

$background = #f8f8f8
$background-border = 1px solid #a8a8a8