doctype
html(lang='en')
	head
		title Awards - Sander Design - Landscape Architecture
		meta(charset="utf-8")
		meta(name="author" content="Sander Design - Landscape Architecture")
		meta(name="description" content="Sander Design has received various award and compliments.")
		meta(name="keywords" content="")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1")
		
		
		link(type="text/css" href="../assets/css/index.css" rel="stylesheet" media="screen")
	body
		.header-tag
		header
			.header
				nav
					ul
						li.title
							.logo
							a.brand.selected(href="../") SANDER DESIGN <span>Landscape Architecture</span>
						li
							a(href="../projects/")
								h2 PROJECTS
						li
							a(href="../services/")
								h2 SERVICES
						li.active
							a(href="#")
								h2 AWARDS
						li
							a(href="../media/")
								h2 MEDIA
						li
							a(href="../about/")
								h2 ABOUT
						li
							a(href="../contact/")
								h2 CONTACT
		.page
			.list
				.listing
					h3 Canada Blooms
					h4 Best Use Of Bulbs - <span>2011</span>
					p The goal was to create a peaceful garden that radiated simplicity, it also demonstrates artistry.
					.award
						img(src="../assets/img/awards/blooms11.jpg", alt="")

				.listing
					h3 Canada Blooms
					h4 Outstanding Garden - <span>2009</span>
					p A project that was designed to appeal to a variety of residents, while keeping with the building.
					.award
						img(src="../assets/img/awards/blooms09.jpg", alt="")

				.listing
					h3 OALA
					h4 Honourable Mention - <span>2009</span>
					p Inspired by Zen and customized for an urban application, this backyard became a getaway.
					.award
						img(src="../assets/img/awards/oala.jpg", alt="")

				.listing
					h3 City of Vaughan
					h4 Outstanding Residential - <span>2008</span>
					p Using modern trends and appliances, this space brings a truly unique concept and design to reality.
					.award
						img(src="../assets/img/awards/vaughan.jpg", alt="")

			.list.bottom
				.listing.end
					h3 Canada Blooms
					h4 Outstanding Garden <span>2008</span>
					p The goal was to create a peaceful garden that radiated simplicity, it also demonstrates artistry.
					.award
						img(src="../assets/img/awards/blooms08.jpg", alt="")

		footer
			.footer
				.holder
					.company
						h3.title SANDER DESIGN<span>Landscape Architecture</span>
						a(href="https://maps.google.com/maps?q=401+Richmond+Street+West,+Toronto,+ON,+Canada&hl=en&amp;sll=37.0625,-95.677068&amp;sspn=82.350741,125.332031&amp;oq=401+Richmond+&amp;hnear=401+Richmond+St+W,+Toronto,+Ontario+M5V+3A8,+Canada&amp;t=m&amp;z=17") 353-401 Richmond Street W, Toronto, Ontario, Canada

						.link
							a(href="mailto:hello@sanderdesign.ca?subject=Online%20Contact%20Card") hello@sanderdesign.ca
							a(href="tel:+1-416-597-1703") 416 597-1703
					.cv
						h3 ABOUT
						p Sander Freedman graduated in Landscape Architecture with an honours degree in 1987 at the University of Guelph.
					.social
						a.fa.fa-houzz(href="http://www.houzz.com/pro/sanderdesign/sander-design-landscape-architecture" target="_blank")
						a.fa.fa-facebook(href="https://www.facebook.com/pages/Sander-Design-Landscape-Architecture/353798814642180" target="_blank")
						a.fa.fa-linkedin(href="http://ca.linkedin.com/pub/sander-freedman/11/677/27a" target="_blank")

		script.
			var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-34471419-1']);_gaq.push(['_trackPageview']);(function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();
