html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd,
ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;

:focus
    outline: 0;

body
    line-height: 1;
    color: black;
    background: white;

ol, ul
    list-style: none;

table
    border-collapse: separate;
    border-spacing: 0;

caption, th, td
    text-align: left;
    font-weight: normal;

blockquote:before, blockquote:after, q:before, q:after
    content: "";

blockquote, q
    quotes: "" "";

article, aside, dialog, figure, footer, header,
hgroup, nav, section
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    background: transparent;

article, aside, dialog, figure, footer, header, hgroup, nav, section
    display: block;

html
    -webkit-font-smoothing: subpixel-antialiased;

html, body
    height:100%

body
    background:#E6E6E6
    color:#666
    font: 13px/20px Arial, Verdana, sans-serif

em, i
    font-style:italic

b, strong
    font-weight:bold

h1, h2, h3
    color:#1A1A1A

a
    text-decoration none

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.4.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.4.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.4.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.4.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-long-arrow-left:before {
  content: "\f177";
}
.fa-houzz:before {
  content: "\f27c";
}
.fa-arrow-left:before {
  content: "\f060";
}
.fa-linkedin:before {
  content: "\f0e1";
}
.fa-facebook:before {
  content: "\f09a";
}
