$white = #fff
$black = #333
$grey = #666

$accent = #f7f7f7
$accent-border = 1px solid #e6e6e6

$border = 1px solid #aaa
$border-light = 1px solid #ccc
$dotted = 1px dotted #aaa

$shadow = 1px -1px 2px #fff
$dark-shadow = 1px 1px 0 #333

$test = #ff9
