header
	.header--container
		.header
			.header__brand
				.header__logo
					.header__outline
						.header__white
					.header__name
						h1(ui-sref='app.index') SANDER DESIGN
						p Landscape Architecture
					.header__mobile(data-ng-click='open();')
						.fa.fa-bars
			nav
				.header__tile(ui-sref="app.index", data-ng-class="{'active': $state.includes('app.index')}")
					h2 HOME
				.header__tile(ui-sref="app.list", data-ng-class="{'active': $state.includes('app.list') || $state.includes('app.view')}")
					h2 PROJECTS
				.header__tile(ui-sref="app.services", data-ng-class="{'active': $state.includes('app.services')}")
					h2 SERVICES
				.header__tile(ui-sref="app.about", data-ng-class="{'active': $state.includes('app.about')}")
					h2 ABOUT
				.header__tile(ui-sref="app.contact", data-ng-class="{'active': $state.includes('app.contact')}")
					h2 CONTACT