header
	.header--container
		.header
			.header__brand
				.header__logo
					.header__outline
						.header__white
					.header__name
						h1(ui-sref='app.index') SANDER DESIGN
						h2 Landscape Architecture
					.header__mobile(data-ng-click='open();')
						h3 NAVIGATION
			nav
				.header__tile(ui-sref="app.index", data-ng-class="{'active': $state.includes('app.index')}")
					h2 HOME
				.header__tile(ui-sref="app.list", data-ng-class="{'active': $state.includes('app.list') || $state.includes('app.view')}")
					h2 PROJECTS
				.header__tile(ui-sref="app.services", data-ng-class="{'active': $state.includes('app.services')}")
					h2 SERVICES
				.header__tile(ui-sref="app.media", data-ng-class="{'active': $state.includes('app.media')}")
					h2 MEDIA
				.header__tile(ui-sref="app.contact", data-ng-class="{'active': $state.includes('app.contact')}")
					h2 CONTACT