.testimonials
	width 921px
	margin 0 0 50px 52px
	border $white-border

.testimonial
	padding 26px 0 38px 0

	p
		width 810px
		margin 0 0 22px 60px
		font-size 19px
		line-height 33px

	h6
		width 660px
		margin 0 0 0 60px
		font-size 20px
		line-height 20px

.testimonial--image
	width 298px
	height 150px
	margin 4px 32px 0 40px