.contact
	width 507px
	padding 24px 80px 34px 80px

	h1
		width 507px
		margin 0 0 28px 0
		font-size 37px
		line-height 49px

	span
		width 460px
		margin 0 0 24px 20px
		font-size 28px
		line-height 40px

	p
		width 480px
		margin 0 0 18px 0
		font-size 24px
		line-height 34px

	.profile
		display block
		float left
		width 160px
		height 200px
		margin 0 40px 18px 0
		background $background
		border $white-border
