.contact
	width 547px
	padding 32px 60px 34px 60px

	h1
		width 547px
		margin 0 0 22px 0
		font-size 24px
		line-height 37px

	span
		width 507px
		margin 10px 0 34px 20px
		font-size 21px
		line-height 36px

	p
		width 547px
		margin 0 0 18px 0
		font-size 19px
		line-height 33px

	.profile
		display block
		float left
		width 160px
		height 200px
		margin 0 30px 18px 0
		background $background url(../img/profile/1.jpg)
		border $white-border
