.search--holder
	height 53px
	margin 12px 0 0 0

.search
	width 385px
	height 53px
	margin 0 0 0 60px

	&__option
		width 181px
		margin 0

		select
			width 181px
			height 52px
			font-size 19px
			line-height 19px

		.select-mask
			width 180px
			height 52px

			p
				font-size 20px
				line-height 53px

			.caret
				margin 25px 0 0 12px
				border-top 7px solid #777
				border-right 7px solid transparent
				border-left 7px solid transparent