.testimonial
	padding 32px 0 42px 0

	p
		width 520px
		margin 0 0 12px 80px
		font-size 18px
		line-height 33px

	h6
		width 520px
		margin 34px 0 0 80px
		font-size 18px
		line-height 18px

.testimonial--image
	width 120px
	height 140px
	margin 0 28px 0 80px