.contact
	width 822px
	padding 52px 100px 34px 100px
	margin 0 0 40px 0
	border $white-border

	h1
		width 682px
		margin 12px 0 24px 0
		font-size 28px
		line-height 44px

	span
		width 682px
		margin 10px 100px 28px 40px
		font-size 25px
		line-height 44px

	p
		width 822px
		margin 0 0 18px 0
		font-size 20px
		line-height 36px

	.profile
		width 160px
		height 200px
		margin 0 50px 8px 0