.search--holder
	height 57px
	margin 12px 0 0 0

.search
	width 896px
	height 56px
	margin 0 0 0 90px

	&__option
		width 200px
		margin 0

		select
			width 200px
			height 56px
			font-size 21px
			line-height 21px

		.select-mask
			width 199px
			height 56px

			p
				font-size 21px
				line-height 59px

			.caret
				margin 29px 0 0 12px
				border-top 6px solid #777
				border-right 6px solid transparent
				border-left 6px solid transparent