.slider
	width 924px
	margin 0 0 14px 50px

	.slick-slider
		width 924px

		img
			width 922px
			height 461px
			border $white-border

		ul.slick-dots
			width: 788px
			margin 0 0 10px 86px

			li
				width: 184px
				height: 92px
				margin: 0 12px 10px 0

				img
					width: 182px
					height: 90px

	.slick-slider.index
		margin 0 0 28px 0

		ul.slick-dots
			width 138px
			padding 22px 0 0 0
			margin 0 0 0 390px

			li
				width 18px
				height 18px
				margin 0 8px