.squares
	width 930px
	margin 0 0 0 52px
	border none

.square
	width 380px
	padding 34px 40px 38px 40px

	h3
		padding 0 0 12px 0
		margin 0 0 15px 0
		font-size 20px
		line-height 20px

	p
		width 376px
		font-size 19px
		line-height 34px
		margin 0

	.image
		width 172px
		height 205px
		margin 0 207px 38px 0

.square.last
	width 380px