.header--container
	height 88px
	padding 0
	margin 0 0 28px 0
	background $white
	border-bottom $white-border

.header
	width 1024px
	margin 0 auto

	&__brand
		width 350px
		padding 0
		margin 0
		background none
		border-bottom none

	&__logo
		width 350px
		margin 0 0 0 30px

	&__outline
		width 32px
		height 32px
		margin 12px 22px 0 0

	&__white
		width 12px
		height 12px
		margin 10px 0 0 10px

	&__name
		width 274px

		h1
			margin 15px 0 8px 0
			font-size 25px
			line-height 25px

		p
			width 100%
			margin 0
			font-size 26px
			line-height 26px

	nav
		float right
		padding 0
		margin 0

	&__tile
		height 54px
		padding 0 24px
		border none
		border-left $dotted
		border-bottom $white-border

		h2
			font-size 20px
			line-height 61px