header
    width: 100%

    nav
        margin 0 0 12px 0

        ul
            width:100%

            li
                height:44px
                padding: 0 23px

                a
                    width 100%

                    h2
                        font-size 13px
                        line-height 49px

            li.title
                width: 395px

                .logo
                    margin 15px 14px 0 18px

                a
                    width 334px
                    font-size 16px
                    line-height 48px

                    span
                        font-size 16px
                        margin 0 0 0 4px
