.side
    width 1024px

    a
        width 511px
        height: 44px
        font-size 15px
        line-height: 47px
        border-bottom $dotted

    a.selected
        height 44px

.list
    width: 100%

    .listing
        width 235px
        padding: 28px 0 22px 20px

        h3
            width 220px
            font-size: 19px
            line-height:19px
            margin 0 0 0 0

        h4
            width 220px
            margin 12px 0 22px 0
            font-size: 15px
            line-height 15px

        p
            width 194px
            margin 0 0 20px 0
            font-size: 15px
            line-height: 23px

        .fa-long-arrow-left
            height 24px
            padding 0px 14px
            margin 34px 80px 10px 50px
            font-size 17px
            line-height 24px

        .item
            width: 172px
            height: 205px

        .award
            width: 200px
            height: 136px

    .listing.full
        width 100%

        h3
            width 900px
            margin 10px 0 0 50px
            font-size: 27px
            line-height:27px

        h4
            width 900px
            margin 16px 50px 24px 50px
            font-size: 17px
            line-height 17px

        p
            width 660px
            margin 0 160px 0 50px
            font-size: 16px
            line-height: 26px
