.medias
	width 968px
	margin 0 0 20px 50px

	.media
		width 258px
		padding 24px 20px 24px 20px
		margin 0 14px 14px 0

		h3
			margin 0 0 18px 10px
			font-size 25px
			line-height 32px

		h4
			padding 7px 14px 9px 14px
			margin 0 0 18px 10px
			font-size 19px
			line-height 19px

		p
			width 230px
			margin 0 5px 0 10px
			font-size 23px
			line-height 32px

		p.blue
			margin 0

		.image
			width 200px
			height 238px
			margin 24px 0 0 10px