// h1
//     font-size:22px
// h2
//     font-size:22px

// h2
// a
//     color:#1A1A1A
//     margin-bottom: 4px
// h3
//     letter-spacing: 0.070em; font: 12px/20px Arial, Verdana, sans-serif
// h4
//     color:#999;letter-spacing: 0.05em;font-size: 12px;font-weight:normal
// /*h4 a.u_caps {padding-right:10px;}*/

// a
//     color:#69F
//     text-decoration:none
// a:link
//     -webkit-tap-highlight-color: rgba(0,0,0,0)
//     font-size: .9em
// a.mailto
//     text-decoration:underline
//     color:#666
// p
// .top-link
//     letter-spacing: 0.03em
// img
//     display:block
// .webkit h3
// .webkit dt
// .webkit .u_caps
//     letter-spacing: 1px
// dl
//     padding:10px 11px 60px 11px
// dt
//     padding-top:20px
// dd
//     color:#999
//     font-size:12px

// /*.pad  { padding-bottom: 18px; }*/
// .pad
//     padding-bottom: 0

// .padB
//     padding-bottom: 88px


.page
    width 100%
    margin: 0 auto
    // min-height: 100%
    // height: auto !important
    // height: 100%
    // width: 100%
    // padding:0
    // overflow:hidden

    .preview
        float: left
        width 100%

// #side
//     width: 151px
//     height: 1392px
//     margin: 40px 0 0 1px

//     .square
//         width: 151px
//         height: 328px
//         padding: 0 0 0 0

//     .square.line
//         width: 151px
//         height: 328px
//         background: none

//         a.selected
//             width: 131px
//             height: 297px
//             padding: 30px 0 0 20px
//             background: #f7f7f7
//             border-top: none
//             border-right: none

//     .square a.selected
//         width: 131px
//         height: 297px
//         padding: 30px 0 0 20px
//         font-size:13px
//         line-height: 21px
//         background: #f7f7f7
//         border-top: none
//         border-right: none
//     .square a
//         width: 131px
//         height: 297px
//         padding: 30px 0 0 20px
//         font-size:13px
//         line-height: 21px
//         text-align: left
//         border-top: none
//         background: none

//     .square a.end
//         width: 131px
//         height: 297px



// .list
//     width: 848px
//     background: none
//     background: url(../image/dot1.gif) repeat-y left 0
//     .square .listing
//         width:182px
//         padding: 30px 10px 20px 20px

//         h3
//             font-size: 14px
//             line-height:15px
//             height:20px

//         h4
//             font-size: 12px
//             color: #666

//         h5
//             font-size: 12px
//             color: #69F
//             font-style: italic

//         p
//             width:152px
//             font-size: 12px
//             line-height: 18px

//     .square .listingB
//         float: left
//         width:172px
//         height: 100%
//         padding: 30px 20px 138px 20px
//         border-bottom:1px solid #e6e6e6

//     .square .listingC
//         float: left
//         width:172px
//         height: 100%
//         padding: 30px 20px 60px 20px
//         border-bottom:1px solid #e6e6e6

// .progress
//     float: left
//     width: 58px
//     height: 11px
//     background: url(../image/progress.png) no-repeat


// #contemporary-yard
// #asian-fusion-leslieville
// #front-entry-court-bloor-west
// #contemporary-entry-summerhill
// #contemporary-court-wychwood-park
// #outdoor-room-midtown
// #country-estate-tottenham
// #arts-and-crafts-deer-park
// #green-quad-forest-hills
// #french-country-don-mills
// #sunken-garden-high-park
// #formal-garden-lawrence-park
// #mediterranean-patio-wychwood-park
// #front-entry-garden-lorne-park
// #neo-georgian-kingsway
// #oval-garden-junction
// #rock-garden-midtown
// #front-entry-rosedale-west
// #rustic-oasis-leslieville
// #formal-gartenanlagen-struckum
// #urban-deck-midtown
// #modern-classic-yorkville
// #zen-garden-don-mills
// #st-barts-church-regent-park
// #symposium-cafe-ajax
// #condo-entrance-yorkville
// #condo-courtyard-rosedale
// #condo-rooftop-harbourfront
// #canada-blooms-2007
// #canada-blooms-2008
// #interior-design-show-2008
// #green-living-show-2009
//     width: 172px
//     height: 205px
//     margin: 16px 0 16px 0

// #contemporary-yard
//     background: url(../image/projects/residential/contemporary-yard/full/900/listing.jpg) no-repeat
// #asian-fusion-leslieville
//     background: url(../image/projects/residential/asian-fusion-leslieville/full/900/listing.jpg) no-repeat
// #front-entry-court-bloor-west
//     background: url(../image/projects/residential/front-entry-court-bloor-west/full/900/listing.jpg) no-repeat
// #contemporary-entry-summerhill
//     background: url(../image/projects/residential/contemporary-entry-summerhill/full/900/listing.jpg) no-repeat
// #contemporary-court-wychwood-park
//     background: url(../image/projects/residential/contemporary-court-wychwood-park/full/900/listing.jpg) no-repeat
// #outdoor-room-midtown
//     background: url(../image/projects/residential/outdoor-room-midtown/full/900/listing.jpg) no-repeat
// #country-estate-tottenham
//     background: url(../image/projects/residential/country-estate-tottenham/full/900/listing.jpg) no-repeat
// #arts-and-crafts-deer-park
//     background: url(../image/projects/residential/arts-and-crafts-deer-park/full/900/listing.jpg) no-repeat
// #green-quad-forest-hills
//     background: url(../image/projects/residential/green-quad-forest-hills/full/900/listing.jpg) no-repeat
// #french-country-don-mills
//     background: url(../image/projects/residential/french-country-don-mills/full/900/listing.jpg) no-repeat
// #sunken-garden-high-park
//     background: url(../image/projects/residential/sunken-garden-high-park/full/900/listing.jpg) no-repeat
// #formal-garden-lawrence-park
//     background: url(../image/projects/residential/formal-garden-lawrence-park/full/900/listing.jpg) no-repeat
// #mediterranean-patio-wychwood-park
//     background: url(../image/projects/residential/mediterranean-patio-wychwood-park/full/900/listing.jpg) no-repeat
// #front-entry-garden-lorne-park
//     background: url(../image/projects/residential/front-entry-garden-lorne-park/full/900/listing.jpg) no-repeat
// #neo-georgian-kingsway
//     background: url(../image/projects/residential/neo-georgian-kingsway/full/900/listing.jpg) no-repeat
// #oval-garden-junction
//     background: url(../image/projects/residential/oval-garden-junction/full/900/listing.jpg) no-repeat
// #rock-garden-midtown
//     background: url(../image/projects/residential/rock-garden-midtown/full/900/listing.jpg) no-repeat
// #front-entry-rosedale-west
//     background: url(../image/projects/residential/front-entry-rosedale-west/full/900/listing.jpg) no-repeat
// #rustic-oasis-leslieville
//     background: url(../image/projects/residential/rustic-oasis-leslieville/full/900/listing.jpg) no-repeat
// #formal-gartenanlagen-struckum
//     background: url(../image/projects/residential/formal-gartenanlagen-struckum/full/900/listing.jpg) no-repeat
// #urban-deck-midtown
//     background: url(../image/projects/residential/urban-deck-midtown/full/900/listing.jpg) no-repeat
// #modern-classic-yorkville
//     background: url(../image/projects/residential/modern-classic-yorkville/full/900/listing.jpg) no-repeat
// #zen-garden-don-mills
//     background: url(../image/projects/residential/zen-garden-don-mills/full/900/listing.jpg) no-repeat
// #st-barts-church-regent-park
//     background: url(../image/projects/commercial/st-barts-church-regent-park/full/900/listing.jpg) no-repeat
// #symposium-cafe-ajax
//     background: url(../image/projects/commercial/symposium-cafe-ajax/full/900/listing.jpg) no-repeat
// #condo-entrance-yorkville
//     background: url(../image/projects/commercial/condo-entrance-yorkville/full/900/listing.jpg) no-repeat
// #condo-courtyard-rosedale
//     background: url(../image/projects/commercial/condo-courtyard-rosedale/full/900/listing.jpg) no-repeat
// #condo-rooftop-harbourfront
//     background: url(../image/projects/commercial/condo-rooftop-harbourfront/full/900/listing.jpg) no-repeat
// #canada-blooms-2007
//     background: url(../image/projects/show/canada-blooms-2007/full/900/listing.jpg) no-repeat
// #canada-blooms-2008
//     background: url(../image/projects/show/canada-blooms-2008/full/900/listing.jpg) no-repeat
// #interior-design-show-2008
//     background: url(../image/projects/show/interior-design-show-2008/full/900/listing.jpg) no-repeat
// #green-living-show-2009
//     background: url(../image/projects/show/green-living-show-2009/full/900/listing.jpg) no-repeat

// #award_1
// #award_2
// #award_3
// #award_4
// #award_5
// #media_1
// #media_2
// #media_3
// #media_4
// #media_5
// #media_6
// #media_7
// #services-consultation
// #services-analysis
// #services-design
// #services-inspection
// #media_see
// #media_see2
// #media_me
//     width: 172px
//     height: 205px
//     margin: 16px 0 16px 0

// #award_1
//     background: url(../image/award/900/blooms11.jpg) no-repeat
//     height: 117px

// #award_2
//     background: url(../image/award/900/blooms09.jpg) no-repeat
//     height: 117px

// #award_3
//     background: url(../image/award/900/oala.jpg) no-repeat

// #award_4
//     background: url(../image/award/900/vaughan.jpg) no-repeat

// #award_5
//     background: url(../image/award/900/blooms08.jpg) no-repeat
//     height: 117px

// #media_1
//     background: url(../image/media/900/cbq.jpg) no-repeat

// #media_2
//     background: url(../image/media/900/design_talks.jpg) no-repeat

// #media_3
//     background: url(../image/media/900/eco_living.jpg) no-repeat

// #media_4
//     background: url(../image/media/900/ben_nobleman.jpg) no-repeat

// #media_5
//     background: url(../image/media/900/hgtv.jpg) no-repeat

// #media_6
//     background: url(../image/media/900/home_and_decor.jpg) no-repeat

// #media_7
//     background: url(../image/media/900/ideas.jpg) no-repeat

// #media_see
//     background: url(../image/media/900/see.jpg) no-repeat

// #media_see2
//     background: url(../image/media/900/see2.jpg) no-repeat

// #media_me
//     background: url(../image/media/900/me.jpg) no-repeat

// #services-consultation
//     background: url(../image/services/900/consultation.jpg) no-repeat
//     margin: 16px 0 26px 0

// #services-analysis
//     background: url(../image/services/900/analysis.jpg) no-repeat
//     margin: 16px 0 26px 0
// #services-design
//     background: url(../image/services/900/design.jpg) no-repeat
//     margin: 16px 0 26px 0
// #services-inspection
//     background: url(../image/services/900/inspection.jpg) no-repeat
//     margin: 16px 0 26px 0

// .write
//     width: 1000px
//     .square #back
//         display: block
//         float: left
//         width: 110px
//         padding: 40px 20px 40px 20px

//     .square .writing
//         width:210px
//         padding: 20px 20px 40px 20px
//         border-bottom: 1px solid #e6e6e6

//         #profile
//             float: left
//             width: 190px
//             height: 234px
//             margin: 0 20px 10px 0
//             background: url(../image/profile/900/1.jpg) no-repeat

//         h1
//             display: block
//             float: left
//             width: 800px
//             font-size: 45px
//             line-height:51px
//             margin: 10px 0 50px 0
//             color: #333
//             text-align: center

//         h3
//             line-height:15px
//             height: 30px

//         h4
//             font-size: 14px
//             line-height:15px
//             height:22px
//             color: #333

//         h5
//             font-size: 13px
//             color: #69F
//             font-style: italic

//         h6
//             display: block
//             float: left
//             width: 520px
//             font-size: 14px
//             line-height:21px
//             margin: 20px 0 25px 70px
//             color: #333

//         p
//             width: 190px
//             font-size: 12px
//             line-height: 18px
//             color: #666

//         p
//             float: left

//     .square .writing.last
//         width:768px
//         background: none

//     .square .writing p.full
//         float: left
//         width:920px
//         font-size: 12px
//         line-height: 18px
//         color: #666
//         padding: 0 20px 0 20px

//     .square .writing.last
//         float: left
//         width: 172px
//         background: none


//     .squareA .writingA
//         width: 860px
//         padding: 20px 70px 0px 70px

//         #studio
//             width: 860px
//             height: 280px
//             margin: 0 0 20px 0

//         #profile
//             display: block
//             float: left
//             width:190px
//             height: 234px
//             margin: 0 30px 20px 0
//             background: #fff url(http://sanderdesign.ca/assets/image/profile/900/1.jpg) no-repeat

//         h1
//             display: block
//             float: left
//             width: 760px
//             font-size: 45px
//             line-height:55px
//             margin: 0px 50px 50px 50px
//             color: #333
//             text-align: center

//         h3
//             font-size: 21px
//             line-height:15px
//             height: 30px

//         h4
//             font-size: 14px
//             line-height:15px
//             height:22px
//             color: #333

//         h5
//             font-size: 13px
//             color: #69F
//             font-style: italic

//         h6
//             display: block
//             float: left
//             width: 620px
//             font-size: 15px
//             line-height:25px
//             margin: 30px 0 10px 120px
//             color: #333
//             text-align: center

//         p
//             float: left
//             width:860px
//             font-size: 12px
//             line-height: 18px
//             color: #666
//             padding-top: 20px
//     .squareA .writingA.last
//         width:768px
//         background: none

//     .squareA .writingA p.side
//         width: 860px
//         padding: 0
//         text-align: left


//     .squareB .writingB
//         width: 848px
//         padding: 30px 20px 60px 20px
//         margin-left: 125px
//         border-left: 1px solid #e6e6e6

//         .left
//             width: 668px
//             height: 78px

//         .right
//             width: 100px

//         .right a
//             width:100px
//             font-size: 21px
//             line-height: 15px
//             height: 30px

//         .right a span
//             width:100px
//             font-size: 15px
//             line-height: 41px

//         h1
//             width: 800px
//             font-size: 45px
//             line-height: 51px
//             margin: 10px 0 50px 0

//         h3
//             font-size: 21px
//             line-height: 15px
//             height: 30px

//         h4
//             font-size: 14px
//             line-height: 15px
//             height: 22px
//             color: #333

//         h5
//             font-size: 13px
//             color: #69F
//             font-style: italic

//         h6
//             width: 520px
//             font-size: 14px
//             line-height:21px
//             margin: 20px 0 25px 70px

//         p
//             width:808px
//             font-size: 12px
//             line-height: 18px
//             color: #666

//         p.start
//             float: left
//             width:528px
//             padding-bottom: 20px
//             font-size: 12px
//             line-height: 18px
//             color: #666

//     .squareB .writingB.last
//         width:768px
//         background: none


//     .square .writingC
//         float: left
//         width:172px
//         padding: 20px 20px 60px 20px
//         border-bottom: 1px solid #e6e6e6

//         h3
//             line-height:15px
//             height:18px

//         p
//             width:160px
//             font-size: 12px
//             line-height: 18px
//             color: #666



// #map
//     width: 860px
//     height: 280px
//     margin: 50px 0 60px 70px


// .testimonials
//     float: left
//     width: 1000px

//     .square
//         float:left
//         width:499px

//     .square.line
//         float: left
//         width:500px
//         background: transparent url(../image/dot1.gif) repeat-y right 0
//         padding: 0

//     .square .testimonial
//         float:left
//         width:460px
//         padding: 20px 20px 20px 20px

//     .square .testimonial p
//         float:left
//         width: 440px
//         color: #666
//         font-size: 12px
//         line-height: 19px
//         margin: 30px 0 0 0
//         background: #fff

//     .square .testimonial h6
//         float:left
//         width: 440px
//         font-size: 12px
//         line-height: 19px
//         margin: 12px 0 40px 0
//         background: #fff


//     .square #testimonial_1
//         display: block
//         float: left
//         width: 462px
//         height: 182px
//         background: #ccc url(../image/testimonial/900/testimonialA.jpg) no-repeat

//     .square #testimonial_2
//         display: block
//         float: left
//         width: 462px
//         height: 182px
//         background: #ccc url(../image/testimonial/900/testimonialB.jpg) no-repeat



// .push
//     height: 130px
//     clear: both

// footer
//     overflow:hidden
//     margin: 0 auto
//     height:130px
//     font-size:12px
//     color:#666
//     width: 1000px
//     padding:0
//     border-top:1px solid #e6e6e6

//     .holder
//         position:relative
//         display: block
//         width:1000px
//         height: 130px

//         #location
//             width: 460px
//             height: 120px
//             margin-left: 40px

//             .address
//                 width: 190px
//                 height: 120px
//                 margin:0
//                 padding: 14px 0 0 20px

//             .address h3
//                 width: 182px
//                 line-height: 1.4em
//                 font-size: 1em
//                 margin: 4px 0 12px 0

//             .address a
//                 width: 182px
//                 line-height: 1.7em
//                 font-size: 1em


//             .addressB
//                 width: 193px
//                 height: 120px
//                 margin:0
//                 padding: 14px 0 0 20px

//             .addressB h3
//                 width: 182px
//                 line-height: 1.4em
//                 font-size: 1em
//                 margin: 4px 0 12px 0

//             .addressB a
//                 width: 182px
//                 line-height: 1.7em
//                 font-size: 1em


//         .cv
//             width: 320px
//             height:120px
//             padding: 14px 0 0 20px

//             h3
//                 width: 220px
//                 line-height: 1.4em
//                 font-size: 1em
//                 color: #666
//                 margin: 4px 0 12px 0

//             p
//                 width: 250px
//                 line-height: 1.7em
//                 font-size: 1em
//                 color: #777

//         .social
//             display: block
//             float:left
//             width: 140px
//             margin:0
//             padding: 0
//             padding: 14px 0 0 0

//             a#facebook
//                 float: left
//                 width: 28px
//                 height: 28px
//                 margin: 34px 14px 0 0
//                 background: url(../image/facebook.png) no-repeat

//             a#linked
//                 float: left
//                 width: 28px
//                 height: 28px
//                 margin: 34px 14px 0 0
//                 background: url(../image/linked.png) no-repeat

//             a#houzz
//                 float: left
//                 width: 28px
//                 height: 28px
//                 margin: 34px 14px 0 0
//                 background: url(../image/houzz.png) no-repeat