.search
	width 888px
	padding 18px 0 18px 40px
	margin 0 0 18px 40px

	p
		margin 0 0 15px 0
		font-size 22px
		line-height 22px

	&__option
		width 199px
		margin 0 20px 0 0

		select
			width 199px
			height 56px
			font-size 24px
			line-height 24px

		.select-mask
			width 197px
			height 56px
			margin 36px 0 0 0

			h4
				font-size 24px
				line-height 57px

	&__input
		width 341px
		padding 0
		margin 0 20px 0 0

		input
			width 339px
			height 57px
			font-size 24px

	&__reset
		width 58px
		height 55px
		padding 0
		margin 36px 0 0 0

		.fa-times
			font-size 21px
			line-height 58px