.search--holder
	height 57px
	margin 12px 0 0 0

.search
	width 896px
	height 56px
	margin 0 0 0 80px

	&__option
		width 200px
		margin 0

		select
			width 200px
			height 56px
			font-size 23px
			line-height 23px

		.select-mask
			width 199px
			height 56px

			p
				font-size 23px
				line-height 58px

			.caret
				margin 27px 0 0 12px !important
				border-top 7px solid #777
				border-right 7px solid transparent
				border-left 7px solid transparent