.footer
	padding: 32px 0 32px 0

	&__holder
		width 100%

		h1
			width 280px
			margin 0 0 14px 0
			font-size 22px
			line-height 22px

		h2
			margin 0 0 28px 0
			font-size 19px
			line-height 19px

		a
			margin 0 0 4px 0
			font-size 18px
			line-height 30px

		p
			width 360px
			font-size 18px
			line-height 30px

	&__company
		width 300px
		padding 0 0 36px 60px

	&__link
		width 230px
		padding 4px 0 0 0

	&__cv
		width 380px
		padding 0 0 30px 60px

	&__social
		width: 240px
		margin: 0 0 0 60px

		.fa-facebook
		.fa-linkedin
		.fa-houzz
			width 52px
			height 52px
			margin 0 12px 0 0
			font-size 33px
			line-height 53px

		.fa-facebook
			font-size 31px
			line-height 56px