.footer
	height 614px
	padding 0 0 22px 0

	&__holder
		width 100%

		h1
			width 100%
			margin 34px 0 14px 0
			font-size 22px
			line-height 22px

		p
			margin 0 0 22px 0
			font-size 21px
			line-height 21px

		a
			padding 0 0 3px 0
			margin 0 0 12px 0
			font-size 18px
			line-height 32px

	&__company
		width 260px
		padding 0 0 38px 60px

	&__link
		width 190px
		padding 6px 0 0 0

		a
			padding 0 0 3px 0
			margin 0 0 10px 0
			font-size 20px
			line-height 34px

	&__cv
		width 380px
		margin 0 0 38px 60px

		p
			width 360px
			margin 0
			font-size 19px
			line-height 35px

	&__social
		width 240px
		margin 0 0 0 60px

		.fa-facebook
		.fa-linkedin
		.fa-houzz
			width 58px
			height 52px
			margin 0 14px 0 0
			font-size 35px
			line-height 56px

		.fa-facebook
			font-size 33px
			line-height 58px