.footer
	padding 34px 0 22px 0

	&__holder
		width 100%

		h1
			width 280px
			margin 0 0 16px 0
			font-size 23px
			line-height 23px

		p
			margin 0 0 24px 0
			font-size 24px
			line-height 24px

		a
			padding 0 0 4px 0
			margin 0 0 12px 0
			font-size 22px
			line-height 33px

	&__company
		width 260px
		padding 0 0 38px 60px

	&__link
		width 190px
		padding 6px 0 0 0

		a
			padding 0 0 5px 0
			margin 0 0 18px 0
			font-size 24px
			line-height 27px

	&__cv
		width 380px
		margin 0 0 38px 60px

		p
			width 360px
			margin 0
			font-size 22px
			line-height 32px

	&__social
		width 240px
		margin 0 0 0 60px

		.fa-facebook
		.fa-linkedin
		.fa-houzz
			width 58px
			height 52px
			margin 0 14px 0 0
			font-size 35px
			line-height 56px

		.fa-facebook
			font-size 33px
			line-height 58px