header
    width: 100%

    nav
        margin 0 0 14px 0

        ul
            width: 100%

            li
                height:42px
                padding: 0 28px

                a
                    width 100%

                    h2
                        font-size 13px
                        line-height 44px

            li.title
                border-right $dotted

                .logo
                    margin 13px 16px 0 30px

                a
                    width: 300px
                    font-size 15px
                    line-height 44px

                    span
                        font-size 15px