.side
    width 480px

    a
        width 239px
        height: 42px
        font-size 13px
        line-height: 45px

    a.selected
        height 43px

.list
    width: 100%

    .listing
        width 239px
        border-right $dotted
        padding: 26px 0 24px 0

        h3
            width 210px
            font-size 19px
            line-height 19px
            margin 0 0 0 20px

        h4
            width 210px
            margin 10px 0 18px 20px
            font-size: 14px
            line-height 14px

        p
            width 210px
            margin 0 0 20px 20px
            font-size: 15px
            line-height: 23px

        .fa-long-arrow-left
            height 22px
            padding 0px 14px
            margin 24px 0 10px 40px
            font-size 15px
            line-height 22px

        .item
            width: 172px
            height: 205px
            margin 0 0 0 20px

        .award
            width: 200px
            height: 136px
            padding: 0
            margin 0 0 0 20px

    .listing.full
        width 480px
        border-right none

        h3
            width 400px
            margin 0 0 0 40px
            font-size 21px
            line-height 21px
        h4
            width 400px
            margin 14px 0 20px 40px
            font-size: 15px
            line-height 15px

        p
            width 380px
            margin 0 0 0 40px
