.listings
	width 460px
	margin 0 0 18px 20px

	.listing
		width 183px
		padding 14px 10px 22px 20px
		margin 0 10px 10px 0

		h3
			width 183px
			font-size 19px
			line-height 19px
			margin 0 0 12px 0

		h4
			width 210px
			margin 10px 0 14px 20px
			font-size: 14px
			line-height 14px

		p
			margin 0 4px 0 0
			font-size: 15px
			line-height: 23px

		.fa-long-arrow-left
			height 22px
			padding 0px 14px
			margin 24px 0 10px 40px
			font-size 15px
			line-height 22px

		.image
			width 158px
			height 178px
			padding 0
			margin 0 0 20px 0

		.award
			width: 200px
			height: 136px
			padding: 0
			margin 0 0 0 20px

	.listing.full
		width 480px
		border-right none

		h3
			width 400px
			margin 0 0 0 40px
			font-size 21px
			line-height 21px
		h4
			width 400px
			margin 14px 0 20px 40px
			font-size: 15px
			line-height 15px

		p
			width 380px
			margin 0 0 0 40px
