md-sidenav
	width 255px
	max-width 255px

.navigation
	width 154px
	max-width 154px
	padding 18px 20px 10px 20px
	margin 0

	&__tile
		width 152px
		margin 0 0 10px 0

		h4
			padding 14px 0 14px 0
			font-size 18px
			line-height 18px

	&__close
		width 34px
		height 75px
		padding 0 4px 0 0
		margin 0 0 0 -1px

		.fa-angle-left
			font-size 25px
			line-height 85px