md-sidenav
	width 175px
	max-width 175px

.navigation
	float left
	width 144px
	max-width 144px
	padding 18px 15px 0 15px
	margin 0

	&__tile
		width 142px
		margin 0 0 10px 0

		h4
			padding 14px 0 12px 0
			font-size 20px
			line-height 20px

		.fa-long-arrow-left
			padding 6px 0 2px 0
			font-size 30px
			line-height 30px