md-sidenav
	width 165px
	max-width 165px

.navigation
	float left
	width 134px
	max-width 134px
	padding 18px 15px 0 15px
	margin 0

	&__tile
		width 132px
		height 40px
		margin 0 0 10px 0

		h4
			font-size 18px
			line-height 42px

		.fa-long-arrow-left
			font-size 29px
			line-height 43px