// h1, h2
//     font-size:22px

// h2, .u
//     // filter: alpha(opacity=0)
//     opacity: 0
// h2 a
//     color:#1A1A1A
//     margin-bottom: 4px

// h3
//     letter-spacing: 0.070em
//     font: 12px/20px Arial, Verdana, sans-serif

// h4
//     color:#999
//     letter-spacing: 0.05em
//     font-size: 12px
//     font-weight:normal

// a
//     color:#69F
//     text-decoration:none

// a:link
//     -webkit-tap-highlight-color: rgba(0,0,0,0)
//     font-size: .9em

// a.mailto
//     text-decoration:underline
//     color:#666

// p, .top-link
//     letter-spacing: 0.03em

// img
//     display:block

// .webkit h3,.webkit dt,.webkit .u_caps
//     letter-spacing: 1px

.page
    width 100%

    .preview
        float: left
        width 100%

// #side
//     float: left
//     width: 320px
//     height: 88px
//     margin-top: 40px
//     border-top:1px solid #e6e6e6

// #side .square
//     float: left
//     width: 320px
//     height: 44px

// #side .square a
//     float: left
//     width: 320px
//     font-size:13px
//     height: 44px
//     line-height: 44px
//     color: #444
//     text-align: center
//     border-bottom:1px solid #e6e6e6

// #side .square a.selected
//     background: #f7f7f7
//     border-top:1px solid #e6e6e6

// .list
//     float: left
//     width: 320px
//     height: 100%

// .list .square.line
//     float: left
//     /* background: transparent url(../image/dot1.gif) repeat-y right 0
//     */

// .list .square .listing
//     float: left
//     width:280px
//     height: 100%
//     padding: 30px 20px 20px 20px
//     border-bottom:1px solid #e6e6e6

// .list .square .listing h3
//     font-size: 17px
//     line-height:15px
//     height:20px

// .list .square .listing h4
//     font-size: 12px
//     color: #555

// .list .square .listing h5
//     font-size: 12px
//     color: #69F
//     font-style: italic

// .list .square .listing p
//     width:200px
//     font-size: 12px
//     line-height: 18px
//     color: #555

// .progress
//     float: left
//     width: 58px
//     height: 11px
//     background: url(../image/progress.png) no-repeat

// #contemporary-yard,
// #asian-fusion-leslieville,
// #front-entry-court-bloor-west,
// #contemporary-entry-summerhill,
// #contemporary-court-wychwood-park,
// #outdoor-room-midtown,
// #country-estate-tottenham,
// #arts-and-crafts-deer-park,
// #green-quad-forest-hills,
// #french-country-don-mills,
// #sunken-garden-high-park,
// #formal-garden-lawrence-park,
// #mediterranean-patio-wychwood-park,
// #front-entry-garden-lorne-park,
// #neo-georgian-kingsway,
// #oval-garden-junction,
// #rock-garden-midtown,
// #front-entry-rosedale-west,
// #rustic-oasis-leslieville,
// #formal-gartenanlagen-struckum,
// #urban-deck-midtown,
// #modern-classic-yorkville,
// #zen-garden-don-mills,
// #st-barts-church-regent-park,
// #symposium-cafe-ajax,
// #condo-entrance-yorkville,
// #condo-courtyard-rosedale,
// #condo-rooftop-harbourfront,
// #canada-blooms-2007,
// #canada-blooms-2008,
// #interior-design-show-2008,
// #green-living-show-2009
//     width: 200px
//     height: 238px
//     margin: 22px 0 16px 0


// #contemporary-yard
//     background: url(../image/projects/residential/contemporary-yard/full/320/listing.jpg) no-repeat

// #asian-fusion-leslieville
//     background: url(../image/projects/residential/asian-fusion-leslieville/full/320/listing.jpg) no-repeat

// #front-entry-court-bloor-west
//     background: url(../image/projects/residential/front-entry-court-bloor-west/full/320/listing.jpg) no-repeat

// #contemporary-entry-summerhill
//     background: url(../image/projects/residential/contemporary-entry-summerhill/full/320/listing.jpg) no-repeat

// #contemporary-court-wychwood-park
//     background: url(../image/projects/residential/contemporary-court-wychwood-park/full/320/listing.jpg) no-repeat

// #outdoor-room-midtown
//     background: url(../image/projects/residential/outdoor-room-midtown/full/320/listing.jpg) no-repeat

// #country-estate-tottenham
//     background: url(../image/projects/residential/country-estate-tottenham/full/320/listing.jpg) no-repeat

// #arts-and-crafts-deer-park
//     background: url(../image/projects/residential/arts-and-crafts-deer-park/full/320/listing.jpg) no-repeat

// #green-quad-forest-hills
//     background: url(../image/projects/residential/green-quad-forest-hills/full/320/listing.jpg) no-repeat

// #french-country-don-mills
//     background: url(../image/projects/residential/french-country-don-mills/full/320/listing.jpg) no-repeat

// #sunken-garden-high-park
//     background: url(../image/projects/residential/sunken-garden-high-park/full/320/listing.jpg) no-repeat

// #formal-garden-lawrence-park
//     background: url(../image/projects/residential/formal-garden-lawrence-park/full/320/listing.jpg) no-repeat

// #mediterranean-patio-wychwood-park
//     background: url(../image/projects/residential/mediterranean-patio-wychwood-park/full/320/listing.jpg) no-repeat

// #front-entry-garden-lorne-park
//     background: url(../image/projects/residential/front-entry-garden-lorne-park/full/320/listing.jpg) no-repeat

// #neo-georgian-kingsway
//     background: url(../image/projects/residential/neo-georgian-kingsway/full/320/listing.jpg) no-repeat

// #oval-garden-junction
//     background: url(../image/projects/residential/oval-garden-junction/full/320/listing.jpg) no-repeat

// #rock-garden-midtown
//     background: url(../image/projects/residential/rock-garden-midtown/full/320/listing.jpg) no-repeat

// #front-entry-rosedale-west
//     background: url(../image/projects/residential/front-entry-rosedale-west/full/320/listing.jpg) no-repeat

// #rustic-oasis-leslieville
//     background: url(../image/projects/residential/rustic-oasis-leslieville/full/320/listing.jpg) no-repeat

// #formal-gartenanlagen-struckum
//     background: url(../image/projects/residential/formal-gartenanlagen-struckum/full/320/listing.jpg) no-repeat

// #urban-deck-midtown
//     background: url(../image/projects/residential/urban-deck-midtown/full/320/listing.jpg) no-repeat

// #modern-classic-yorkville
//     background: url(../image/projects/residential/modern-classic-yorkville/full/320/listing.jpg) no-repeat

// #zen-garden-don-mills
//     background: url(../image/projects/residential/zen-garden-don-mills/full/320/listing.jpg) no-repeat

// #st-barts-church-regent-park
//     background: url(../image/projects/commercial/st-barts-church-regent-park/full/320/listing.jpg) no-repeat

// #symposium-cafe-ajax
//     background: url(../image/projects/commercial/symposium-cafe-ajax/full/320/listing.jpg) no-repeat

// #condo-entrance-yorkville
//     background: url(../image/projects/commercial/condo-entrance-yorkville/full/320/listing.jpg) no-repeat

// #condo-courtyard-rosedale
//     background: url(../image/projects/commercial/condo-courtyard-rosedale/full/320/listing.jpg) no-repeat

// #condo-rooftop-harbourfront
//     background: url(../image/projects/commercial/condo-rooftop-harbourfront/full/320/listing.jpg) no-repeat

// #canada-blooms-2007
//     background: url(../image/projects/show/canada-blooms-2007/full/320/listing.jpg) no-repeat

// #canada-blooms-2008
//     background: url(../image/projects/show/canada-blooms-2008/full/320/listing.jpg) no-repeat

// #interior-design-show-2008
//     background: url(../image/projects/show/interior-design-show-2008/full/320/listing.jpg) no-repeat

// #green-living-show-2009
//     background: url(../image/projects/show/green-living-show-2009/full/320/listing.jpg) no-repeat


// #award_1,
// #award_2,
// #award_3,
// #award_4,
// #award_5,
// #media_1,
// #media_2,
// #media_3,
// #media_4,
// #media_5,
// #media_6,
// #media_7,
// #services-consultation,
// #services-analysis,
// #services-design,
// #services-inspection
//     width: 200px
//     height: 238px
//     margin: 16px 0 16px 0

// #award_1
//     kground: url(../image/award/480/blooms11.jpg) no-repeat
//     height: 136px

// #award_2
//     kground: url(../image/award/480/blooms09.jpg) no-repeat
//     height: 136px

// #award_3
//     kground: url(../image/award/480/oala.jpg) no-repeat
//     height: 238px

// #award_4
//     kground: url(../image/award/480/vaughan.jpg) no-repeat
//     height: 238px

// #award_5
//     kground: url(../image/award/480/blooms08.jpg) no-repeat
//     height: 136px

// #media_1
//     kground: url(../image/media/480/cbq.jpg) no-repeat
//     height: 238px


// #media_2
//     kground: url(../image/media/480/design_talks.jpg) no-repeat
//     height: 238px

// #media_3
//     kground: url(../image/media/480/eco_living.jpg) no-repeat
//     height: 238px

// #media_4
//     kground: url(../image/media/480/ben_nobleman.jpg) no-repeat
//     height: 238px

// #media_5
//     kground: url(../image/media/480/hgtv.jpg) no-repeat
//     height: 238px

// #media_6
//     kground: url(../image/media/480/home_and_decor.jpg) no-repeat
//     height: 238px

// #media_7
//     kground: url(../image/media/480/ideas.jpg) no-repeat
//     height: 238px

// #services-consultation
//     kground: url(../image/services/320/consultation.jpg) no-repeat
//     margin: 16px 0 26px 0


// #services-analysis
//     kground: url(../image/services/320/analysis.jpg) no-repeat
//     margin: 16px 0 26px 0

// #services-design
//     kground: url(../image/services/320/design.jpg) no-repeat
//     margin: 16px 0 26px 0

// #services-inspection
//     kground: url(../image/services/320/inspection.jpg) no-repeat
//     margin: 16px 0 26px 0


// .write
//     float: left
//     width: 320px
//     background:#fff


//     .square .writing
//         float: left
//         width: 280px
//         padding: 30px 20px 30px 20px
//         border-bottom: 1px solid #e6e6e6


//         h3
//             float: left
//             height:22px
//             line-height: 15px
//             margin-bottom: 2px


//         p
//             float: left
//             width:250px
//             font-size: 12px
//             line-height: 18px
//             color: #666

//     .square .writing.last
//         float: left
//         width:280px
//         background: none

//     .squareA .writingA
//         float: left
//         width: 280px
//         padding: 0px 20px 30px 20px


//         #studio,
//         #profile
//             display: none

//         h1
//             float: left
//             width: 280px
//             font-size: 37px
//             font-weight: 400
//             line-height:47px
//             margin: 0 0 42px 0
//             color: #333
//             text-align: center

//         h3
//             font-size: 21px
//             line-height:15px
//             height: 30px

//         h4
//             font-size: 14px
//             line-height:15px
//             height:22px
//             color: #333

//         h5
//             font-size: 13px
//             color: #69F
//             font-style: italic

//         h6
//             display: block
//             float: left
//             width: 280px
//             font-size: 14px
//             line-height:23px
//             margin: 30px 0 10px 0
//             color: #333
//             text-align: center

//         p
//             float: left
//             width:280px
//             font-size: 12px
//             line-height: 18px
//             color: #666
//             padding-top: 20px
//             text-align: center

//         p.side
//             float: left
//             width: 280px
//             padding: 0


//     .squareA .writingA.last
//         float: left
//         width: 280px
//         background: none


//     .squareB
//         float: left
//         width: 320px
//         background:#fff

//         .writingB
//             float: left
//             width: 280px
//             padding: 30px 20px 50px 20px
//             border-bottom: 1px solid #e6e6e6

//             .left
//                 float: left
//                 width: 210px
//                 height: 88px


//             .right
//                 float: left
//                 width: 60px


//             .right a
//                 float: left
//                 width:60px
//                 font-size: 17px
//                 line-height:15px
//                 height: 28px
//                 color: #333
//                 text-align: right


//             .right a span
//                 float: left
//                 width:60px
//                 font-size: 15px
//                 line-height: 41px
//                 color: #444
//                 text-align: right


//             #profile
//                 display:none


//             h1
//                 float: left
//                 width: 280px
//                 font-size: 37px
//                 font-weight: 400
//                 line-height:45px
//                 margin: 0 0 30px 0
//                 color: #333
//                 text-align: center


//             h3
//                 font-size: 17px
//                 line-height:15px
//                 height: 28px
//                 text-align: left
//                 letter-spacing: 0


//             h4
//                 font-size: 13px
//                 line-height:15px
//                 height:19px
//                 color: #333


//             h5
//                 font-size: 12px
//                 color: #69F
//                 font-style: italic


//             h6
//                 float: left
//                 width: 280px
//                 font-size: 14px
//                 line-height:21px
//                 margin: 20px 0 25px 0
//                 color: #333
//                 text-align: center


//             p
//                 float: left
//                 width:270px
//                 font-size: 12px
//                 line-height: 18px
//                 color: #666
//                 text-align: left


//         .writingB.last
//             width:280px
//             background: none



// #map
//     float: left
//     width: 280px
//     height: 220px
//     margin: 10px 0 0 20px

// .testimonials
//     float:left
//     width:280px

//     .square .testimonial
//         float: left
//         width: 280px
//         padding: 30px 20px 20px 20px

//          p
//             width: 280px
//             font-size: 12px
//             line-height: 19px
//             color: #666

//          h6
//             width: 280px
//             margin-top: 12px
//             font-size: 12px
//             line-height: 19px
//             color: #333

//     .square #testimonial_1
//         float: left
//         width: 100px
//         height: 120px
//         margin: 0 20px 0 0
//         background: #ccc url(../image/testimonial/320/testimonialA.jpg) no-repeat

//     .square #testimonial_2
//         float: left
//         width: 100px
//         height: 120px
//         margin: 0 20px 0 0
//         background: #ccc url(../image/testimonial/320/testimonialB.jpg) no-repeat


// .push
//     height: 370px
//     clear: both
//     background: #fff

// footer
//     position:relative
//     bottom:0
//     width: 320px
//     height: 390px

//     font-size:12px
//     color:#666
//     // background:#f7f7f7
//     overflow:hidden
//     border-top:1px solid #e6e6e6
//     // padding: 0
//     margin: 0

//     .holder
//         float: left
//         width:320px
//         height: 390px

//         .about
//             display: none

//         #location
//             float: left
//             width:320px
//             height: 170px

//             .address
//                 float: left
//                 width: 280px
//                 padding: 25px 20px 0 20px

//                 h3
//                     float: left
//                     width: 280px
//                     margin: 4px 0 16px 0
//                     line-height: 1.4em
//                     font-size: 1.1em
//                     olor: #666
//                     text-align: left


//             .address a
//                 float: left
//                 width: 182px
//                 font-size: 1em
//                 line-height: 1.6em
//                 color:#666
//                 text-align: left

//             .addressB
//                 float: left
//                 width: 280px
//                 padding: 0 20px 0 20px

//                 h3
//                     display: none

//                 a
//                     float: left
//                     width: 182px
//                     font-size: 1em
//                     line-height: 1.6em
//                     color:#666
//                     text-align: left

//         .cv
//             float: left
//             width: 210px
//             height: 120px
//             padding: 10px 20px 0 20px

//             h3
//                 float: left
//                 width: 200px
//                 margin: 4px 0 16px 0
//                 font-size: 1em
//                 line-height: 1.4em
//                 color: #666
//                 text-align: left

//             p
//                 float: left
//                 width: 200px
//                 font-size: 1em
//                 line-height: 1.6em
//                 color: #777

//         .social
//             display: block
//             float:left
//             width: 240px
//             margin:0 0 0 20px
//             padding: 0
//             padding: 0 0 0 0

//             a#facebook
//                 float: left
//                 width: 28px
//                 height: 28px
//                 margin: 28px 16px 0 0
//                 background: url(../image/facebook.png) no-repeat

//             a#linked
//                 float: left
//                 width: 28px
//                 height: 28px
//                 margin: 28px 16px 0 0
//                 background: url(../image/linked.png) no-repeat

//             a#houzz
//                 float: left
//                 width: 28px
//                 height: 28px
//                 margin: 28px 16px 0 0
//                 background: url(../image/houzz.png) no-repeat

