.slider-dots-holder
    margin 10px 0 4px 0

    ul.slick-dots
        width: 446px
        margin 0 0 0 33px

        li
            width: 94px
            height: 47px
            margin: 0 8px 8px 0

        li button:before
            width 94px
            height 47px
            font-size: 1px
            line-height: 18px
