.search
	width 418px
	padding 18px 0 16px 20px
	margin 0 0 18px 20px
	// border $input-border
	// border-radius 4px

	h6
		margin 0 0 12px 0
		font-size 17px
		line-height 17px

	&__option
		width 189px
		margin 0 20px 0 0

		select
			width 189px
			height 48px
			font-size 22px
			line-height 22px

		.select-mask
			width 187px
			height 48px
			margin 0

			h4
				font-size 22px
				line-height 50px