.search
	width 378px
	margin 10px 0 22px 65px

	&__option
		width 169px
		margin 0 10px 0 0

		select
			width 169px
			height 46px
			font-size 22px
			line-height 22px

		.select-mask
			width 167px
			height 46px
			margin 0

			h4
				font-size 22px
				line-height 47px