.search--holder
	height 53px
	margin 12px 0 0 0

.search
	width 365px
	height 52px
	margin 0
	border-left $white-border

	&__option
		width 181px
		margin 0

		select
			width 181px
			height 52px
			font-size 19px
			line-height 19px

		.select-mask
			width 180px
			height 52px

			p
				font-size 19px
				line-height 54px

			.caret
				margin 25px 0 0 12px
				border-top 6px solid #777
				border-right 6px solid transparent
				border-left 6px solid transparent