.slider
	width 480px
	margin 0 0 18px 0
	border none
	overflow hidden

	.slick-slider
		width 480px

		img
			width 480px
			height 240px

		ul.slick-dots
			width: 472px
			padding 12px 0 0px 0

			li
				width: 106px
				height: 53px
				padding: 0
				margin: 0 12px 10px 0

				img
					width: 104px
					height: 51px

	.slick-slider.index
		margin 0

		ul.slick-dots
			width: 120px
			padding 8px 0 0 175px

			li
				width: 30px
				height: 30px

				span
					width 30px
					height 30px
					font-size 59px
					line-height 18px