.testimonials
	width 100%

	.testimonial
		padding: 30px 0 20px 0
		margin 0

		p
			width 390px
			margin 6px 0 20px 40px
			font-size: 16px
			line-height: 27px

		h6
			width 390px
			margin 0 0 0 40px
			font-size: 17px
			line-height: 17px

	.testimonial-image
		width: 100px
		height: 120px
		margin: 0 18px 0 40px
