.view
	width 398px
	padding 0 0 16px 0
	margin 0 0 40px 40px
	border $input-border

	.fa-long-arrow-left
		padding 8px 0 6px 0
		font-size 31px
		line-height 31px

	h3
		width 338px
		margin 28px 0 14px 30px
		font-size 24px
		line-height 24px

	h4
		margin 0 5px 22px 30px
		font-size 19px
		line-height 25px

	p
		width 338px
		margin 0 0 0 30px
		font-size 18px
		line-height 33px