.contact
	width 648px
	padding 44px 60px 34px 60px

	h1
		width 648px
		margin 0 0 18px 0
		font-size 37px
		line-height 53px

	span
		width 588px
		margin 10px 40px 28px 20px
		font-size 29px
		line-height 47px

	p
		width 648px
		margin 0 0 18px 0
		font-size 23px
		line-height 41px

	p.desktop
		display: block

	.profile
		width 160px
		height 200px
		margin 0 40px 18px 0