.footer
	padding 34px 0 32px 0

	&__holder
		width 100%

		h1
			width 280px
			margin 0 0 16px 0
			font-size 22px
			line-height 22px

		h2
			margin 0 0 14px 0
			font-size 19px
			line-height 19px

		a
			margin 0 0 4px 0
			font-size 18px
			line-height 32px

		p
			width 260px
			font-size 18px
			line-height 32px

	&__company
		width 280px
		padding 0 30px 0 80px

	&__link
		width 230px
		padding 8px 0 0 0

	&__cv
		width 280px
		padding 0 0 34px 30px

	&__social
		width 280px
		margin 0 0 0 30px

		.fa-facebook
		.fa-linkedin
		.fa-houzz
			width 48px
			height 48px
			margin 0 14px 0 0
			font-size 33px
			line-height 49px

		.fa-facebook
			font-size 31px
			line-height 53px