.footer
	height 358px
	padding 0 0 22px 0

	&__holder
		width 100%

		h1
			width 100%
			margin 38px 0 18px 0
			font-size 22px
			line-height 22px

		h2
			margin 7px 0 9px 0
			font-size 21px
			line-height 21px

		a
			padding 0 0 2px 0
			margin 0 0 10px 0
			font-size 21px
			line-height 39px

	&__company
		width 260px
		padding 0 40px 0 60px

	&__link
		width 230px
		padding 4px 0 0 0

		a
			padding 0 0 4px 0
			margin 0 0 14px 0
			font-size 23px
			line-height 35px

	&__cv
		width 290px
		margin 0 0 34px 40px

		p
			width 290px
			margin 0
			font-size 21px
			line-height 37px

	&__social
		width 280px
		margin 0 0 0 40px

		.fa-facebook
		.fa-linkedin
		.fa-houzz
			width 58px
			height 52px
			margin 0 16px 0 0
			font-size 37px
			line-height 54px

		.fa-facebook
			font-size 35px
			line-height 56px