.footer
	padding 34px 0 28px 0

	&__holder
		width 100%

		h1
			width 280px
			margin 0 0 16px 0
			font-size 21px
			line-height 21px

		p
			margin 7px 0 8px 0
			font-size 20px
			line-height 20px

		a
			padding 0 0 1px 0
			margin 0 0 10px 0
			font-size 20px
			line-height 35px

	&__company
		width 240px
		padding 0 60px 0 70px

	&__link
		width 230px
		padding 8px 0 0 0

		a
			padding 0 0 4px 0
			margin 0 0 14px 0
			font-size 22px
			line-height 27px

	&__cv
		width 280px
		margin 0 0 28px 40px

		p
			width 280px
			margin 0
			font-size 19px
			line-height 34px

	&__social
		width 280px
		margin 0 0 0 40px

		.fa-facebook
		.fa-linkedin
		.fa-houzz
			width 56px
			height 50px
			margin 0 16px 0 0
			font-size 35px
			line-height 52px

		.fa-facebook
			font-size 33px
			line-height 54px