.header--container
	padding 0 0 14px 0
	margin 0 0 24px 0

.header
	margin 0 auto

	&__brand
		width 280px
		padding 0
		margin 0 0 0 30px

	&__logo
		width 310px

	&__outline
		width 30px
		height 30px
		margin 12px 20px 0 0

	&__white
		width 12px
		height 12px
		margin 9px 0 0 9px

	&__name
		width 226px

		h1
			margin 15px 0 9px 0
			font-size 21px
			line-height 21px

		p
			width 100%
			font-size 20px
			line-height 20px

	&__mobile
		display: none

	nav
		display block
		float left
		width 458px
		height 51px
		padding 0
		margin 0
		border none

	&__tile
		float right
		height 50px
		padding 0 20px 0 20px
		margin 0
		background $accent
		border-left $dotted
		border-bottom $dotted

		h2
			float left
			width 100%
			padding 0
			margin 0
			font-weight 400
			font-size 18px
			line-height 56px
			color $black
			border none
			text-align center

	&__tile.active,
	&__tile:hover
		height 50px
		background $green-light
		border-bottom $dotted