.header--container
	padding 0 0 0 0
	margin 0 0 28px 0
	background none
	border none

.header
	margin 0 auto

	&__brand
		width 768px
		padding 0
		margin 0
		border-bottom $white-border

	&__logo
		width 700px
		margin 0 0 0 50px

	&__outline
		width 30px
		height 30px
		margin 20px 24px 16px 0

	&__white
		width 12px
		height 12px
		margin 9px 0 0 9px

	&__name
		width 630px

		h1
			width 202px
			margin 24px 0 0 0
			font-size 22px
			line-height 22px

		h2
			width 320px
			margin 24px 0 0 0
			font-size 22px
			line-height 22px

	&__mobile
		display none

	nav
		display block
		float left
		padding 0
		margin 0
		border none

	&__tile
		float left
		height 54px
		padding 0 28px
		margin 0
		background $white
		border none
		border-right $dotted
		border-bottom $white-border
		cursor pointer

		h2
			float left
			width 100%
			padding 0
			margin 0
			font-weight 500
			font-size 18px
			line-height 62px
			color $black
			border none
			text-align center

	&__tile.active,
	&__tile:hover
		background $background		border-bottom none
