.listings
	width 748px
	margin 0 0 18px 20px

	.listing
		width 317px
		padding 20px 20px 20px 20px
		margin 0 10px 14px 0

		h3
			margin 10px 0 16px 20px
			font-size 27px
			line-height 34px

		h4
			padding 6px 14px 9px 14px
			margin 2px 0 18px 20px
			font-size 19px
			line-height 19px

		p
			margin 0 5px 0 20px
			font-size 24px
			line-height 36px

		p.blue
			margin 0

		.fa-long-arrow-left
			height 24px
			padding 0px 14px
			margin 24px 80px 10px 10px
			font-size 17px
			line-height 24px

		.image
			width 315px
			height 157px
			margin 0 0 6px 0

		.media
			width 200px
			height 238px
			margin 28px 0 10px 10px

	.listing.end
		border-bottom none

	.listing.full
		width 100%

		h3
			width 400px
			margin 0 0 0 10px
			font-size 25px
			line-height 25px

		h4
			width 400px
			margin 18px 0 26px 10px
			font-size 17px
			line-height 17px

		p
			width 600px
			margin 0 120px 0 10px
			font-size: 16px
			line-height: 25px
