.side
    width 768px

    a
        width 383px
        height: 44px
        font-size 14px
        line-height: 47px

    a.selected
        height 45px

.list
    width: 100%

    .listing
        width 353px
        padding: 32px 0 28px 30px

        h3
            width 280px
            font-size: 21px
            line-height:21px
            margin 0 0 0 0

        h4
            width 280px
            margin 14px 0 22px 0
            font-size: 15px
            line-height 15px

        p
            width 240px
            margin 0 0 24px 0
            font-size: 15px
            line-height: 23px

        .fa-long-arrow-left
            height 24px
            padding 0px 14px
            margin 24px 80px 10px 10px
            font-size 17px
            line-height 24px

        .item
            width: 172px
            height: 205px
            margin 0 0 0 0

        .award
            width: 200px
            height: 136px
            padding: 0
            margin 0

    .listing.end
        border-bottom none

    .listing.full
        width 100%

        h3
            width 400px
            margin 0 0 0 10px
            font-size: 25px
            line-height:25px

        h4
            width 400px
            margin 18px 0 26px 10px
            font-size: 17px
            line-height 17px

        p
            width 600px
            margin 0 120px 0 10px
            font-size: 16px
            line-height: 25px
