.listings
	width 748px
	padding 24px 0 0 0
	margin 0 0 18px 20px

	.listing
		width 358px
		padding 0 0 20px 0
		margin 0 10px 16px 0

		h3
			margin 10px 0 10px 34px
			font-size 24px
			line-height 30px

		p
			margin 0 5px 0 34px
			font-size 21px
			line-height 28px

		p.blue
			margin 0

		.fa-long-arrow-left
			height 24px
			padding 0px 14px
			margin 24px 80px 10px 10px
			font-size 17px
			line-height 24px

		.image
			width 358px
			height 200px
			margin 0 0 8px 0