.medias
	width 748px
	margin 0 0 20px 20px

	.media
		width 317px
		padding 24px 20px 20px 20px
		margin 0 10px 14px 0

		h3
			margin 0 0 18px 20px
			font-size 27px
			line-height 34px

		h4
			padding 6px 14px 9px 14px
			margin 0 0 18px 20px
			font-size 19px
			line-height 19px

		p
			width 280px
			margin 0 5px 0 20px
			font-size 23px
			line-height 33px

		p.blue
			margin 0

		.image
			width 200px
			height 238px
			margin 28px 0 10px 10px