.medias
	width 748px
	margin 0 0 20px 20px

	.media
		width 317px
		padding 24px 20px 20px 20px
		margin 0 10px 14px 0

		h3
			margin 0 0 18px 20px
			font-size 24px
			line-height 30px

		h4
			padding 7px 12px 7px 12px
			margin 0 0 18px 20px
			font-size 16px
			line-height 16px

		p
			width 280px
			margin 0 5px 0 20px
			font-size 19px
			line-height 32px

		p.blue
			margin 0

		.image
			width 200px
			height 238px
			margin 28px 0 10px 10px