.slider-dots-holder
    margin 12px 0 4px 0

    ul.slick-dots
        width: 676px
        margin 0 0 0 39px

        li
            width: 138px
            height: 70px
            margin: 0 12px 12px 0

        li button:before
            width 138px
            height 70px
