.search
	width 698px
	padding 22px 0 20px 30px
	margin 0 0 22px 20px

	h6
		margin 0 0 16px 0
		font-size 18px
		line-height 18px

	&__option
		width 170px
		margin 0 10px 0 0

		select
			width 170px
			height 58px
			font-size 23px
			line-height 23px

		.select-mask
			width 168px
			height 58px
			margin 34px 0 0 0

			h4
				font-size 23px
				line-height 60px

	&__input
		display block
		float left
		width 250px
		padding 0
		margin 0 10px 0 0

		input
			float left
			width 248px
			height 58px
			padding 0
			margin 0
			font-weight 400
			font-size 23px
			color $black
			background $white
			border $white-border
			border-radius 4px
			outline none
			text-align center
			cursor pointer
			-webkit-appearance none
			vertical-align middle
			-moz-appearance none
			appearance none

		input::-webkit-input-placeholder
		input:-moz-placeholder
		input::-moz-placeholder
		input:-ms-input-placeholder
			line-height normal

	&__reset
		display block
		float left
		width 48px
		height 55px
		padding 0
		margin 0

		.fa-times
			float left
			width 46px
			height 56px
			padding 0
			margin 0
			font-size 21px
			line-height 58px
			color $white
			background $grey-gradient
			border none
			border $grey-gradient-border
			border-radius 4px
			text-align center
			text-shadow $dark-shadow
			-webkit-user-select none
			-moz-user-select none
			-ms-user-select none
			user-select none
			cursor pointer
			outline none
