.search--holder
	height 57px
	margin 12px 0 0 0

.search
	width 400px
	height 56px
	margin 0

	&__option
		width 190px
		margin 0

		select
			width 190px
			height 56px
			font-size 20px
			line-height 20px

		.select-mask
			width 189px
			height 56px

			p
				font-size 20px
				line-height 58px

			.caret
				margin 28px 0 0 12px
				border-top 7px solid #777
				border-right 7px solid transparent
				border-left 7px solid transparent