.search--holder
	height 55px
	margin 20px 0 0 0

.search
	width 400px
	height 54px
	margin 0 0 0 60px

	&__option
		width 200px
		margin 0

		select
			width 200px
			height 54px
			font-size 23px
			line-height 23px

		.select-mask
			width 199px
			height 54px

			p
				font-size 23px
				line-height 57px

			.caret
				margin 27px 0 0 11px
				border-top 7px solid #777
				border-right 7px solid transparent
				border-left 7px solid transparent