.slider
	width 768px
	margin 0 0 14px 0

	.slick-slider
		width 768px
		border-radius 0

		img
			width 768px
			height 384px

		ul.slick-dots
			width: 728px
			margin 0 0 10px 37px

			li
				width: 162px
				height: 81px
				margin: 0 10px 0 0

				img
					width: 160px
					height: 79px

	.slick-slider.index
		margin 0

		ul.slick-dots
			width: 146px
			padding 16px 0 8px 311px

			li
				width: 36px
				height: 36px

				span
					width 36px
					height 36px
					font-size 85px
					line-height 22px