.slider
	width 768px
	margin 0 0 18px 0

	.slick-slider
		width 768px
		border-radius 0

		img
			width 768px
			height 384px

		ul.slick-dots
			width 728px
			margin 0 0 10px 44px

			li
				width 162px
				height 81px
				margin 0 10px 10px 0

				img
					width 160px
					height 79px

	.slick-slider.index
		margin 0 0 18px 0

		ul.slick-dots
			width 154px
			padding 16px 0 0 0
			margin 0 0 0 316px

			li
				width 18px
				height 18px
				margin 0 8px