.testimonials
	width 768px
	margin 0 0 40px 0

.testimonial
	padding 32px 0 38px 0

	p
		width 688px
		margin 10px 0 28px 30px
		font-size 20px
		line-height 39px

	h6
		width 560px
		margin 0 0 0 30px
		font-size 19px
		line-height 19px

.testimonial--image
	width 160px
	height 190px
	margin 8px 34px 10px 30px
