.contact
	width 922px
	padding 34px 40px 28px 40px
	margin 0 0 40px 0

	h1
		width 882px
		margin 0 0 22px 0
		font-size 21px
		line-height 21px

	span
		width 902px
		margin 8px 0 24px 20px
		font-size 18px
		line-height 18px

	p
		width 922px
		margin 0 0 14px 0
		font-size 14px
		line-height 26px

	.profile
		width 160px
		height 200px
		margin 0 30px 10px 0