.header--container
	height 49px
	padding 0
	margin 0 0 24px 0
	background $white
	border-bottom $white-border

.header
	width 980px
	margin 0 auto

	&__brand
		width 380px
		padding 0
		margin 0
		//height 36px
		background none
		border-bottom none

	&__logo
		width 400px
		margin 0

	&__outline
		width 22px
		height 22px
		margin 16px 16px 0 30px

	&__white
		width 8px
		height 8px
		margin 7px 0 0 7px

	&__name
		width 324px

		h1
			width 138px
			margin 20px 0 0 0
			font-size 15px
			line-height 15px

		h2
			width 180px
			margin 20px 0 0 0
			font-size 15px
			line-height 15px

	nav
		height 38px
		padding 0
		margin 10px 20px 0 0
		border-right $white-border

	&__tile
		height 38px
		padding 0 26px
		margin 0
		border none
		border-top $white-border
		border-left $white-border

		h2
			font-size 14px
			line-height 38px

	&__tile.active
		height 39px
		background $background
		border-bottom none