.search
	float left
	width 320px
	padding 0
	margin 12px 0 20px 0

	&__option
		float left
		width 160px
		padding 0
		margin 0

		select
			float left
			width 160px
			height 52px
			padding 0
			margin 0
			font-weight 400
			font-size 18px
			line-height 18px
			color $black
			background $green-light
			border none
			outline none
			text-align center
			cursor pointer
			-webkit-appearance none
			vertical-align middle
			-moz-appearance none
			appearance none
			z-index 100

	&__select
		position absolute
		width 158px
		height 50px
		padding 0
		margin 0
		color $paragraph
		background $green-light
		border none
		border $white-border
		border-radius 0
		vertical-align middle
		z-index 99
		pointer-events none

		p
			float left
			width 100%
			padding 0
			margin 0
			font-weight 400
			font-size 18px
			line-height 52px
			color $paragraph
			text-align center

		.caret
			position absolute
			padding 0
			margin 25px 0 0 8px
			border-top 5px solid #777
			border-right 5px solid transparent
			border-left 5px solid transparent
			border-bottom 0 dotted

	&__select.last
		width 159px
		border-left none